Repository dart-lang/tools, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:bazel_worker, package:benchmark_harness, package:boolean_selector, package:browser_launcher, package:cli_config, package:cli_util, package:clock, package:code_builder, package:coverage, package:csslib, package:extension_discovery, package:file, package:file_testing, package:graphs, package:html, package:io, package:json_rpc_2, package:markdown, package:mime, package:oauth2, package:package_config, package:pool, package:pub_semver, package:pubspec_parse, package:source_map_stack_trace, package:source_maps, package:source_span, package:sse, package:stack_trace, package:stream_channel, package:stream_transform, package:term_glyph, package:test_reflective_loader, package:timing, package:unified_analytics, package:watcher, package:yaml, package:yaml_edit

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:bazel_worker':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/bazel_worker/**'

'package:benchmark_harness':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/benchmark_harness/**'

'package:boolean_selector':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/boolean_selector/**'

'package:browser_launcher':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/browser_launcher/**'

'package:cli_config':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/cli_config/**'

'package:cli_util':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/cli_util/**'

'package:clock':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/clock/**'

'package:code_builder':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/code_builder/**'

'package:coverage':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/coverage/**'

'package:csslib':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/csslib/**'

'package:extension_discovery':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/extension_discovery/**'

'package:file':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/file/**'

'package:file_testing':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/file_testing/**'

'package:graphs':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/graphs/**'

'package:html':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/html/**'

'package:io':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/io/**'

'package:json_rpc_2':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/json_rpc_2/**'

'package:markdown':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/markdown/**'

'package:mime':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/mime/**'

'package:oauth2':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/oauth2/**'

'package:package_config':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/package_config/**'

'package:pool':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/pool/**'

'package:pub_semver':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/pub_semver/**'

'package:pubspec_parse':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/pubspec_parse/**'

'package:source_map_stack_trace':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/source_map_stack_trace/**'

'package:source_maps':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/source_maps/**'

'package:source_span':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/source_span/**'

'package:sse':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/sse/**'

'package:stack_trace':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/stack_trace/**'

'package:stream_channel':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/stream_channel/**'

'package:stream_transform':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/stream_transform/**'

'package:term_glyph':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/term_glyph/**'

'package:test_reflective_loader':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test_reflective_loader/**'

'package:timing':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/timing/**'

'package:unified_analytics':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/unified_analytics/**'

'package:watcher':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/watcher/**'

'package:yaml':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/yaml/**'

'package:yaml_edit':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/yaml_edit/**'

update the readme table and generator
  README.md
  tool/readme_update.dart
Labels: none

work on deploying the markdown playground
  .github/workflows/markdown.yaml
  .github/workflows/markdown_crash_test.yaml
  .github/workflows/markdown_playground.yaml
  pkgs/markdown/.gitignore
Labels: type-infra, package:markdown

update the generation
  README.md
  tool/readme_update.dart
Labels: none

update the readme table and generator (#1965)
  README.md
  tool/readme_update.dart
Labels: none

add a workflow to deply the markdown playground
  .github/workflows/markdown.yaml
  .github/workflows/markdown_playground.yaml
  pkgs/markdown/README.md
Labels: type-infra, package:markdown

update the package version and changelog
  pkgs/markdown/CHANGELOG.md
  pkgs/markdown/pubspec.yaml
Labels: package:markdown

update version.dart
  pkgs/markdown/lib/src/version.dart
Labels: package:markdown

Add -wip suffix in changelog to match pubspec
  pkgs/io/CHANGELOG.md
Labels: package:io

Fix check for copied directories
  pkgs/io/test/copy_path_test.dart
Labels: package:io

Fix check for copied directories (#1967)
  pkgs/io/test/copy_path_test.dart
Labels: package:io

deploy the site to a markdown/ subdir
  .github/workflows/deploy_pages.yaml
  .github/workflows/markdown_crash_test.yaml
  .gitignore
  pkgs/markdown/README.md
Labels: type-infra, package:markdown

add a workflow to deply the markdown playground (#1966)
  .github/workflows/deploy_pages.yaml
  .github/workflows/markdown.yaml
  .github/workflows/markdown_crash_test.yaml
  .gitignore
  pkgs/markdown/.gitignore
  pkgs/markdown/CHANGELOG.md
  pkgs/markdown/README.md
  pkgs/markdown/lib/src/version.dart
  pkgs/markdown/pubspec.yaml
Labels: type-infra, package:markdown

fix the deploy_pages.yaml workflow
  .github/workflows/deploy_pages.yaml
Labels: type-infra

remove todos
  .github/workflows/deploy_pages.yaml
Labels: type-infra

fix the deploy_pages.yaml workflow (#1968)
  .github/workflows/deploy_pages.yaml
Labels: type-infra

nits
  .github/workflows/deploy_pages.yaml
  pkgs/markdown/.gitignore
  pkgs/markdown/build.yaml
Labels: type-infra, package:markdown

ops
  .github/workflows/deploy_pages.yaml
Labels: type-infra

[markdown] use build_runner to build js & wasm (#1969)
  .github/workflows/deploy_pages.yaml
  pkgs/markdown/.gitignore
  pkgs/markdown/build.yaml
Labels: type-infra, package:markdown

[markdown] update example CSS/JS and add an example readme
  pkgs/markdown/example/README.md
  pkgs/markdown/example/index.html
Labels: package:markdown

...also fix build
  .github/workflows/deploy_pages.yaml
  pkgs/markdown/build.yaml
Labels: type-infra, package:markdown

[markdown] update example CSS/JS and add an example readme (#1970)
  .github/workflows/deploy_pages.yaml
  pkgs/markdown/build.yaml
  pkgs/markdown/example/README.md
  pkgs/markdown/example/index.html
Labels: type-infra, package:markdown

[markdown] Fix URIs in example, drop unneeded extra CSS
  pkgs/markdown/example/index.html
Labels: package:markdown

[markdown] Fix URIs in example, drop unneeded extra CSS (#1971)
  pkgs/markdown/example/index.html
Labels: package:markdown

Don't follow links when copying paths
  pkgs/io/CHANGELOG.md
  pkgs/io/lib/src/copy_path.dart
  pkgs/io/pubspec.yaml
  pkgs/io/test/copy_path_test.dart
Labels: package:io

Add tests
  pkgs/io/test/copy_path_test.dart
Labels: package:io

Update argument name and documentation
  pkgs/io/CHANGELOG.md
  pkgs/io/lib/src/copy_path.dart
  pkgs/io/test/copy_path_test.dart
Labels: package:io

removed support for all uncommon flags
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/bin/collect_coverage.dart
  pkgs/coverage/bin/format_coverage.dart
  pkgs/coverage/bin/test_with_coverage.dart
  pkgs/coverage/lib/src/coverage_options.dart
  pkgs/coverage/pubspec.yaml
Labels: package:coverage

refactor: changed test cases to align with updated coverage options
  pkgs/coverage/test/collect_coverage_config_test.dart
  pkgs/coverage/test/test_coverage_options/all_field.yaml
  pkgs/coverage/test/test_coverage_options/partial_fields1.yaml
  pkgs/coverage/test/test_coverage_options/partial_fields2.yaml
  pkgs/coverage/test/test_util.dart
Labels: package:coverage

Update pkgs/io/test/copy_path_test.dart
  pkgs/io/test/copy_path_test.dart
Labels: package:io

Update pkgs/io/test/copy_path_test.dart
  pkgs/io/test/copy_path_test.dart
Labels: package:io

Update copy_path_test.dart
  pkgs/io/test/copy_path_test.dart
Labels: package:io

dart format
  pkgs/io/test/copy_path_test.dart
Labels: package:io

[io] copyPath/copyPathSync: add a `deepCopyLinks` parameter (#1267)
  pkgs/io/CHANGELOG.md
  pkgs/io/lib/src/copy_path.dart
  pkgs/io/pubspec.yaml
  pkgs/io/test/copy_path_test.dart
Labels: package:io

change: Resolve output and package paths to absolute paths; add upward search for options file
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/bin/collect_coverage.dart
  pkgs/coverage/bin/format_coverage.dart
  pkgs/coverage/bin/test_with_coverage.dart
  pkgs/coverage/lib/src/coverage_options.dart
  pkgs/coverage/pubspec.yaml
  pkgs/coverage/test/collect_coverage_config_test.dart
  pkgs/coverage/test/test_coverage_options/all_field.yaml
  pkgs/coverage/test/test_coverage_options/partial_fields1.yaml
  pkgs/coverage/test/test_coverage_options/partial_fields2.yaml
  pkgs/coverage/test/test_util.dart
Labels: package:coverage

refactor: use absolute and normalize instead of canonicalize for path handling
  pkgs/coverage/bin/collect_coverage.dart
  pkgs/coverage/bin/format_coverage.dart
  pkgs/coverage/lib/src/coverage_options.dart
  pkgs/coverage/test/test_coverage_options/partial_fields1.yaml
  pkgs/coverage/test/test_coverage_options/partial_fields2.yaml
Labels: package:coverage

Add issue template and other fixes
  .github/ISSUE_TEMPLATE/glob.md
  pkgs/glob/pubspec.yaml
Labels: type-infra
