Repository dart-lang/tools, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:bazel_worker, package:benchmark_harness, package:boolean_selector, package:browser_launcher, package:cli_config, package:cli_util, package:clock, package:code_builder, package:coverage, package:csslib, package:extension_discovery, package:file, package:file_testing, package:graphs, package:html, package:json_rpc_2, package:mime, package:oauth2, package:source_map_stack_trace, package:unified_analytics

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:bazel_worker':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/bazel_worker/**'

'package:benchmark_harness':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/benchmark_harness/**'

'package:boolean_selector':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/boolean_selector/**'

'package:browser_launcher':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/browser_launcher/**'

'package:cli_config':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/cli_config/**'

'package:cli_util':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/cli_util/**'

'package:clock':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/clock/**'

'package:code_builder':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/code_builder/**'

'package:coverage':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/coverage/**'

'package:csslib':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/csslib/**'

'package:extension_discovery':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/extension_discovery/**'

'package:file':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/file/**'

'package:file_testing':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/file_testing/**'

'package:graphs':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/graphs/**'

'package:html':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/html/**'

'package:json_rpc_2':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/json_rpc_2/**'

'package:mime':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/mime/**'

'package:oauth2':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/oauth2/**'

'package:source_map_stack_trace':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/source_map_stack_trace/**'

'package:unified_analytics':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/unified_analytics/**'

review comments
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

use base and final
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

more comments
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

Export CustomMetrics
  pkgs/unified_analytics/lib/unified_analytics.dart
Labels: package:unified_analytics

Breaking change: add and remove parameters from the `Event.devtoolsEvent` constructor (#1193)
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/lib/unified_analytics.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

[coverage] Fix isolate resumption after service disposal (#1189)
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/lib/src/isolate_paused_listener.dart
  pkgs/coverage/pubspec.yaml
  pkgs/coverage/test/isolate_paused_listener_test.dart
Labels: package:coverage

Support newInstanceNamed with empty name
  pkgs/code_builder/lib/src/specs/expression.dart
Labels: package:code_builder

Update expression_test.dart
  pkgs/code_builder/test/specs/code/expression_test.dart
Labels: package:code_builder

Fix unused param in a private ctor lint (dart-lang/yaml_edit#99)
  pkgs/yaml_edit/test/random_test.dart
Labels: none

chore: Remove deprecated package_api_docs rule (dart-lang/pubspec_parse#141)
  pkgs/pubspec_parse/CHANGELOG.md
Labels: none

feat(mime): add `gsheet` default extension to map
  pkgs/mime/lib/src/default_extension_map.dart
Labels: package:mime

feat(mime): add simple test to `gsheet` mime type
  pkgs/mime/test/mime_type_test.dart
Labels: package:mime

mutate a clone of the `data` argument rather than `data` itself
  pkgs/unified_analytics/lib/src/event.dart
Labels: package:unified_analytics

bump version
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/pubspec.yaml
Labels: package:unified_analytics

add test
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics
