Repository dart-lang/tools, pull requests merged in 2023-08, with the labels that each got.

#134 Refactor for buttons array with `SurveyButton` class
  pkgs/unified_analytics/example/sample_rate.dart
  pkgs/unified_analytics/example/serving_surveys.dart
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/lib/src/survey_handler.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/lib/unified_analytics.dart
  pkgs/unified_analytics/test/events_with_fake_test.dart
  pkgs/unified_analytics/test/survey_handler_test.dart
Labels: package:unified_analytics

#109 Survey handler feature
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/example/sample_rate.dart
  pkgs/unified_analytics/example/serving_surveys.dart
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/lib/src/ga_client.dart
  pkgs/unified_analytics/lib/src/initializer.dart
  pkgs/unified_analytics/lib/src/log_handler.dart
  pkgs/unified_analytics/lib/src/survey_handler.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/lib/unified_analytics.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/events_with_fake_test.dart
  pkgs/unified_analytics/test/src/fake_analytics.dart
  pkgs/unified_analytics/test/survey_handler_test.dart
  pkgs/unified_analytics/test/unified_analytics_test.dart
  pkgs/unified_analytics/test/workflow_test.dart
Labels: package:unified_analytics

#141 add usage docs to package:cli_config
  pkgs/cli_config/CHANGELOG.md
  pkgs/cli_config/README.md
  pkgs/cli_config/example/pubspec.yaml
  pkgs/cli_config/pubspec.yaml
Labels: package:cli_config

#140 add CI; update readme
  .github/labeler.yml
  .github/workflows/extension_discovery.yml
  pkgs/extension_discovery/CHANGELOG.md
  pkgs/extension_discovery/README.md
  pkgs/extension_discovery/analysis_options.yaml
  pkgs/extension_discovery/pubspec.yaml
  pkgs/extension_discovery/test/find_extensions_test.dart
Labels: type-infra

#138 Remove unused NoOp classes
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/log_handler.dart
  pkgs/unified_analytics/lib/src/session.dart
Labels: package:unified_analytics

#142 Clean up on dart docs across all dart files under lib
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/asserts.dart
  pkgs/unified_analytics/lib/src/config_handler.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/lib/src/ga_client.dart
  pkgs/unified_analytics/lib/src/initializer.dart
  pkgs/unified_analytics/lib/src/log_handler.dart
  pkgs/unified_analytics/lib/src/session.dart
  pkgs/unified_analytics/lib/src/survey_handler.dart
  pkgs/unified_analytics/lib/src/user_property.dart
  pkgs/unified_analytics/lib/src/utils.dart
Labels: package:unified_analytics

#123 Added `dartCliCommandExecuted` and `pubGet` events
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/lib/src/event.dart
Labels: package:unified_analytics

#147 Improve exception messages for `ExpectJson` extension
  pkgs/extension_discovery/CHANGELOG.md
  pkgs/extension_discovery/lib/src/expect_json.dart
  pkgs/extension_discovery/pubspec.yaml
Labels: autosubmit, package:extension_discovery

#148 Support optional packageUri
  pkgs/extension_discovery/CHANGELOG.md
  pkgs/extension_discovery/lib/src/expect_json.dart
  pkgs/extension_discovery/lib/src/package_config.dart
  pkgs/extension_discovery/pubspec.yaml
  pkgs/extension_discovery/test/package_config_test.dart
Labels: package:extension_discovery

#151 Export Survey in package:unified_analytics
  pkgs/unified_analytics/lib/unified_analytics.dart
Labels: package:unified_analytics

#154 Prepare extension_discovery for 1.0.1 release
  pkgs/extension_discovery/CHANGELOG.md
  pkgs/extension_discovery/pubspec.yaml
Labels: package:extension_discovery
