Repository dart-lang/tools, pull requests merged in 2023-11, with the labels that each got.

#193 Added new event enum + constructor for hot runner
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#195 Add user properties: `host_os_version`, `locale`, and `client_ide`
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/example/unified_analytics_example.dart
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/log_handler.dart
  pkgs/unified_analytics/lib/src/user_property.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/log_handler_test.dart
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics

#199 Enum + event constructor added for `flutterCommandResult`
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#200 Add enum + event constructor for code size analysis
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#196 Fixing titles of issue templates
  .github/ISSUE_TEMPLATE/unified_analytics.md
  .github/ISSUE_TEMPLATE/unified_analytics_event.yml
  .github/ISSUE_TEMPLATE/unified_analytics_user_property.yml
Labels: type-infra

#201 remove duplicate settings from analysis_options files
  pkgs/cli_config/analysis_options.yaml
  pkgs/graphs/analysis_options.yaml
  pkgs/unified_analytics/analysis_options.yaml
Labels: package:unified_analytics, package:cli_config, package:graphs

#204 Add terminal info to flutter command event
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#206 Add generic usage event used for iOS/macOS workflows + generic `exception` event
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#207 [extension_discovery] Drop unneeded dependency on pkg:lints
  pkgs/extension_discovery/pubspec.yaml
Labels: package:extension_discovery

#209 [graphs] update analyzer dev dependency
  pkgs/graphs/pubspec.yaml
Labels: package:graphs

#208 Added enum + event for timing events
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics
