Repository dart-lang/tools, pull requests merged in 2023-03, with the labels that each got.

#23 Add `DashEvent` for toggling telemetry collection + send event whenever toggled
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics

#24 Update Dart sdk constraint in pubspec
  pkgs/unified_analytics/pubspec.yaml
Labels: package:unified_analytics

#25 dogfood the new version of the setup-dart action
  .github/workflows/unified_analytics.yml
Labels: type-infra

#29 rev to 0.1.0
  README.md
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/README.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/pubspec.yaml
Labels: package:unified_analytics

#30 Update pubspec.yaml
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/pubspec.yaml
Labels: package:unified_analytics

#32 Update messaging for tools messaging
  pkgs/unified_analytics/lib/src/constants.dart
Labels: package:unified_analytics

#33 Revert "Update messaging for tools messaging"
  pkgs/unified_analytics/lib/src/constants.dart
Labels: package:unified_analytics

#34 Messaging update; second attempt after revert
  pkgs/unified_analytics/lib/src/constants.dart
Labels: package:unified_analytics

#35 Add dev credentials for google analytics
  pkgs/unified_analytics/USAGE_GUIDE.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics

#31 Adding more information to `LogFileStats` + minor updates to tests
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/USAGE_GUIDE.md
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/log_handler.dart
  pkgs/unified_analytics/lib/src/user_property.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics

#39 Update unified_analytics.yml
  .github/workflows/unified_analytics.yml
Labels: type-infra

#40 Empty package for `package:cli_config`
  .github/ISSUE_TEMPLATE/cli_config.md
  .github/labeler.yml
  .github/workflows/cli_config.yml
  README.md
  pkgs/cli_config/.gitignore
  pkgs/cli_config/CHANGELOG.md
  pkgs/cli_config/LICENSE
  pkgs/cli_config/README.md
  pkgs/cli_config/analysis_options.yaml
  pkgs/cli_config/lib/cli_config.dart
  pkgs/cli_config/pubspec.yaml
  pkgs/cli_config/test/cli_config_test.dart
Labels: type-infra

#41 Update README.md
  pkgs/cli_config/README.md
Labels: package:cli_config

#46 Add a new event to record the structure of analysis contexts in the l…
  pkgs/unified_analytics/lib/src/enums.dart
Labels: package:unified_analytics

#50 Analytics development constructor
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/USAGE_GUIDE.md
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/pubspec.yaml
Labels: package:unified_analytics

#38 Error handling for malformed session file
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/initializer.dart
  pkgs/unified_analytics/lib/src/session.dart
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics

#54 Align to PDD
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/USAGE_GUIDE.md
  pkgs/unified_analytics/example/unified_analytics_example.dart
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/initializer.dart
  pkgs/unified_analytics/test/unified_analytics_test.dart
  pkgs/unified_analytics/test/workflow_test.dart
Labels: package:unified_analytics

#56 Use version number for incrementing
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/example/unified_analytics_example.dart
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/config_handler.dart
  pkgs/unified_analytics/test/workflow_test.dart
Labels: package:unified_analytics

#55 Change supported tools list to align with PDD
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/example/unified_analytics_example.dart
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/config_handler.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/unified_analytics_test.dart
  pkgs/unified_analytics/test/workflow_test.dart
Labels: package:unified_analytics

#57 Update session file error handling to catch file missing
  pkgs/unified_analytics/lib/src/session.dart
Labels: package:unified_analytics

#45 [cli_config] First version
  pkgs/cli_config/analysis_options.yaml
  pkgs/cli_config/example/bin/cli_config_example.dart
  pkgs/cli_config/example/pubspec.yaml
  pkgs/cli_config/lib/cli_config.dart
  pkgs/cli_config/lib/src/cli_config.dart
  pkgs/cli_config/lib/src/cli_parser.dart
  pkgs/cli_config/lib/src/cli_source.dart
  pkgs/cli_config/lib/src/config.dart
  pkgs/cli_config/lib/src/environment_parser.dart
  pkgs/cli_config/lib/src/environment_source.dart
  pkgs/cli_config/lib/src/file_parser.dart
  pkgs/cli_config/lib/src/file_source.dart
  pkgs/cli_config/lib/src/source.dart
  pkgs/cli_config/pubspec.yaml
  pkgs/cli_config/test/cli_config_example_test.dart
  pkgs/cli_config/test/cli_config_test.dart
  pkgs/cli_config/test/helpers.dart
Labels: package:cli_config

#59 [cli_config] Make string list and path list consistent
  pkgs/cli_config/lib/src/cli_source.dart
  pkgs/cli_config/lib/src/config.dart
  pkgs/cli_config/lib/src/environment_source.dart
  pkgs/cli_config/lib/src/file_source.dart
  pkgs/cli_config/lib/src/source.dart
  pkgs/cli_config/test/cli_config_test.dart
Labels: package:cli_config

#60 Disable unapproved files
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/initializer.dart
  pkgs/unified_analytics/lib/src/log_handler.dart
  pkgs/unified_analytics/lib/src/session.dart
  pkgs/unified_analytics/test/pdd_approved_test.dart
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics

#62 Bump version to `1.0.0`
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/pubspec.yaml
Labels: package:unified_analytics
