Repository dart-lang/tools, pull requests merged in 2023-04, with the labels that each got.

#69 [cli_config] Fix optionalString validValues
  pkgs/cli_config/lib/src/config.dart
  pkgs/cli_config/test/cli_config_test.dart
Labels: package:cli_config

#67 Fix windows path resolving
  pkgs/cli_config/lib/src/config.dart
  pkgs/cli_config/test/cli_config_windows_test.dart
Labels: package:cli_config

#73 [cli_config] Support non-String map keys
  pkgs/cli_config/CHANGELOG.md
  pkgs/cli_config/lib/src/config.dart
  pkgs/cli_config/lib/src/file_parser.dart
  pkgs/cli_config/pubspec.yaml
  pkgs/cli_config/test/cli_config_test.dart
Labels: package:cli_config

#77 [unified_analytics] Add NoOpAnalytics
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/ga_client.dart
  pkgs/unified_analytics/lib/unified_analytics.dart
  pkgs/unified_analytics/test/no_op_analytics_test.dart
Labels: package:unified_analytics

#78 [unified_analytics] Initialize date formatting (package:intl requirement)
  pkgs/unified_analytics/lib/src/analytics.dart
Labels: package:unified_analytics

#79 Add a `okToSend` getter to the Analytics class
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/pubspec.yaml
Labels: package:unified_analytics

#80 Honor legacy opt out status
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/analysis_options.yaml
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/ga_client.dart
  pkgs/unified_analytics/lib/src/initializer.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/test/legacy_analytics_test.dart
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics

#83 Move `dateStamp` getter to `utils.dart`
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/config_handler.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/initializer.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/no_op_analytics_test.dart
  pkgs/unified_analytics/test/unified_analytics_test.dart
  pkgs/unified_analytics/test/workflow_test.dart
Labels: type-tech-debt, package:unified_analytics

#75 Change "plugins" to "extensions" for VS Code
  pkgs/unified_analytics/lib/src/enums.dart
Labels: package:unified_analytics
