Repository dart-lang/tools, pull requests merged in 2023-09, with the labels that each got.

#156 Extension discovery 2.0.0
  pkgs/extension_discovery/CHANGELOG.md
  pkgs/extension_discovery/README.md
  pkgs/extension_discovery/example/hello_world/lib/hello_world.dart
  pkgs/extension_discovery/example/hello_world_german/extension/hello_world/config.json
  pkgs/extension_discovery/example/hello_world_german/extension/hello_world/config.yaml
  pkgs/extension_discovery/lib/extension_discovery.dart
  pkgs/extension_discovery/lib/src/expect_json.dart
  pkgs/extension_discovery/lib/src/registry.dart
  pkgs/extension_discovery/lib/src/yaml_config_format.dart
  pkgs/extension_discovery/pubspec.yaml
  pkgs/extension_discovery/test/find_extensions_test.dart
  pkgs/extension_discovery/test/integration_test.dart
  pkgs/extension_discovery/test/yaml_config_format_test.dart
Labels: package:extension_discovery

#149 Add Fake Analytics instance that uses list to save events sent
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/lib/unified_analytics.dart
  pkgs/unified_analytics/test/events_with_fake_test.dart
  pkgs/unified_analytics/test/src/fake_analytics.dart
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics

#160 validate a pre-release setup-dart action
  .github/workflows/cli_config.yml
  .github/workflows/extension_discovery.yml
  .github/workflows/graphs.yml
  .github/workflows/unified_analytics.yml
Labels: type-infra

#161 Restrict surveys for certain tools
  pkgs/unified_analytics/example/serving_surveys.dart
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/lib/src/survey_handler.dart
  pkgs/unified_analytics/test/events_with_fake_test.dart
  pkgs/unified_analytics/test/survey_handler_test.dart
Labels: package:unified_analytics

#163 Expose the client id + hard code for NoOp instance
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/no_op_analytics_test.dart
Labels: package:unified_analytics

#165 misc infra updates for dart-lang/tools
  .github/ISSUE_TEMPLATE/extension_discovery.md
  .github/ISSUE_TEMPLATE/graphs.md
  .github/labeler.yml
  .github/workflows/graphs.yml
  README.md
Labels: type-infra, autosubmit

#168 Use constant for no op client id
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/example/unified_analytics_example.dart
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/pubspec.yaml
Labels: package:unified_analytics

#172 update to the latest package:dart_flutter_team_lints
  pkgs/graphs/CHANGELOG.md
  pkgs/graphs/analysis_options.yaml
  pkgs/graphs/pubspec.yaml
Labels: package:graphs

#173 update to the latest package:dart_flutter_team_lints
  pkgs/extension_discovery/CHANGELOG.md
  pkgs/extension_discovery/analysis_options.yaml
  pkgs/extension_discovery/lib/src/expect_json.dart
  pkgs/extension_discovery/lib/src/io.dart
  pkgs/extension_discovery/lib/src/package_config.dart
  pkgs/extension_discovery/lib/src/registry.dart
  pkgs/extension_discovery/lib/src/yaml_config_format.dart
  pkgs/extension_discovery/pubspec.yaml
  pkgs/extension_discovery/test/find_extensions_test.dart
  pkgs/extension_discovery/test/test_descriptor.dart
  pkgs/extension_discovery/test/yaml_config_format_test.dart
Labels: package:extension_discovery
