Repository dart-lang/tools, pull requests merged in 2024-10, with the labels that each got.

#597 Update labeler.yml
  .github/labeler.yml
Labels: type-infra

#295 Add more parameters (androidAppId and iosBundleId) in devtools events.
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#599 rev package:file and package:file_testing versions in prep for publishing
  pkgs/file/CHANGELOG.md
  pkgs/file/pubspec.yaml
  pkgs/file_testing/CHANGELOG.md
  pkgs/file_testing/README.md
  pkgs/file_testing/pubspec.yaml
Labels: package:file, package:file_testing

#675 require dart 3.1; update to the latest lints
  pkgs/file_testing/CHANGELOG.md
  pkgs/file_testing/lib/file_testing.dart
  pkgs/file_testing/pubspec.yaml
Labels: package:file_testing

#676 [coverage] Prepare to publish package:coverage 1.10.0
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/pubspec.yaml
Labels: package:coverage

#678 Merge `package:boolean_selector`
  .github/ISSUE_TEMPLATE/boolean_selector.md
  .github/labeler.yml
  .github/workflows/boolean_selector.yaml
  README.md
  pkgs/boolean_selector/.gitignore
  pkgs/boolean_selector/AUTHORS
  pkgs/boolean_selector/CHANGELOG.md
  pkgs/boolean_selector/LICENSE
  pkgs/boolean_selector/README.md
  pkgs/boolean_selector/analysis_options.yaml
  pkgs/boolean_selector/example/example.dart
  pkgs/boolean_selector/lib/boolean_selector.dart
  pkgs/boolean_selector/lib/src/all.dart
  pkgs/boolean_selector/lib/src/ast.dart
  pkgs/boolean_selector/lib/src/evaluator.dart
  pkgs/boolean_selector/lib/src/impl.dart
  pkgs/boolean_selector/lib/src/intersection_selector.dart
  pkgs/boolean_selector/lib/src/none.dart
  pkgs/boolean_selector/lib/src/parser.dart
  pkgs/boolean_selector/lib/src/scanner.dart
  pkgs/boolean_selector/lib/src/token.dart
  pkgs/boolean_selector/lib/src/union_selector.dart
  pkgs/boolean_selector/lib/src/validator.dart
  pkgs/boolean_selector/lib/src/visitor.dart
  pkgs/boolean_selector/pubspec.yaml
  pkgs/boolean_selector/test/equality_test.dart
  pkgs/boolean_selector/test/evaluate_test.dart
  pkgs/boolean_selector/test/parser_test.dart
  pkgs/boolean_selector/test/scanner_test.dart
  pkgs/boolean_selector/test/to_string_test.dart
  pkgs/boolean_selector/test/validate_test.dart
  pkgs/boolean_selector/test/variables_test.dart
Labels: type-infra, skip-breaking-check

#691 Merge `package:clock`
  .github/ISSUE_TEMPLATE/clock.md
  .github/labeler.yml
  .github/workflows/clock.yaml
  README.md
  pkgs/clock/.gitignore
  pkgs/clock/AUTHORS
  pkgs/clock/CHANGELOG.md
  pkgs/clock/LICENSE
  pkgs/clock/README.md
  pkgs/clock/analysis_options.yaml
  pkgs/clock/lib/clock.dart
  pkgs/clock/lib/src/clock.dart
  pkgs/clock/lib/src/default.dart
  pkgs/clock/lib/src/stopwatch.dart
  pkgs/clock/lib/src/utils.dart
  pkgs/clock/pubspec.yaml
  pkgs/clock/test/clock_test.dart
  pkgs/clock/test/default_test.dart
  pkgs/clock/test/stopwatch_test.dart
  pkgs/clock/test/utils.dart
Labels: type-infra, skip-breaking-check

#696 Merge `package:json_rpc_2`
  .github/ISSUE_TEMPLATE/json_rpc_2.md
  .github/labeler.yml
  .github/workflows/json_rpc_2.yaml
  README.md
  pkgs/json_rpc_2/.gitignore
  pkgs/json_rpc_2/.test_config
  pkgs/json_rpc_2/CHANGELOG.md
  pkgs/json_rpc_2/LICENSE
  pkgs/json_rpc_2/README.md
  pkgs/json_rpc_2/analysis_options.yaml
  pkgs/json_rpc_2/example/client.dart
  pkgs/json_rpc_2/example/main.dart
  pkgs/json_rpc_2/lib/error_code.dart
  pkgs/json_rpc_2/lib/json_rpc_2.dart
  pkgs/json_rpc_2/lib/src/client.dart
  pkgs/json_rpc_2/lib/src/exception.dart
  pkgs/json_rpc_2/lib/src/parameters.dart
  pkgs/json_rpc_2/lib/src/peer.dart
  pkgs/json_rpc_2/lib/src/server.dart
  pkgs/json_rpc_2/lib/src/utils.dart
  pkgs/json_rpc_2/pubspec.yaml
  pkgs/json_rpc_2/test/client/client_test.dart
  pkgs/json_rpc_2/test/client/stream_test.dart
  pkgs/json_rpc_2/test/client/utils.dart
  pkgs/json_rpc_2/test/peer_test.dart
  pkgs/json_rpc_2/test/server/batch_test.dart
  pkgs/json_rpc_2/test/server/invalid_request_test.dart
  pkgs/json_rpc_2/test/server/parameters_test.dart
  pkgs/json_rpc_2/test/server/server_test.dart
  pkgs/json_rpc_2/test/server/stream_test.dart
  pkgs/json_rpc_2/test/server/utils.dart
Labels: type-infra, skip-breaking-check

#689 Merge `package:browser_launcher`
  .github/ISSUE_TEMPLATE/browser_launcher.md
  .github/labeler.yml
  .github/workflows/browser_launcher.yaml
  README.md
  pkgs/browser_launcher/.gitignore
  pkgs/browser_launcher/AUTHORS
  pkgs/browser_launcher/CHANGELOG.md
  pkgs/browser_launcher/LICENSE
  pkgs/browser_launcher/README.md
  pkgs/browser_launcher/analysis_options.yaml
  pkgs/browser_launcher/example/main.dart
  pkgs/browser_launcher/lib/browser_launcher.dart
  pkgs/browser_launcher/lib/src/chrome.dart
  pkgs/browser_launcher/pubspec.yaml
  pkgs/browser_launcher/test/chrome_test.dart
Labels: type-infra, skip-breaking-check

#687 Merge `package:bazel_worker`
  .github/ISSUE_TEMPLATE/bazel_worker.md
  .github/labeler.yml
  .github/workflows/bazel_worker.yaml
  README.md
  pkgs/bazel_worker/.gitignore
  pkgs/bazel_worker/AUTHORS
  pkgs/bazel_worker/CHANGELOG.md
  pkgs/bazel_worker/LICENSE
  pkgs/bazel_worker/README.md
  pkgs/bazel_worker/analysis_options.yaml
  pkgs/bazel_worker/benchmark/benchmark.dart
  pkgs/bazel_worker/e2e_test/analysis_options.yaml
  pkgs/bazel_worker/e2e_test/bin/async_worker.dart
  pkgs/bazel_worker/e2e_test/bin/async_worker_in_isolate.dart
  pkgs/bazel_worker/e2e_test/bin/sync_worker.dart
  pkgs/bazel_worker/e2e_test/lib/async_worker.dart
  pkgs/bazel_worker/e2e_test/lib/forwards_to_isolate_async_worker.dart
  pkgs/bazel_worker/e2e_test/lib/sync_worker.dart
  pkgs/bazel_worker/e2e_test/pubspec.yaml
  pkgs/bazel_worker/e2e_test/test/e2e_test.dart
  pkgs/bazel_worker/example/README.md
  pkgs/bazel_worker/example/client.dart
  pkgs/bazel_worker/example/worker.dart
  pkgs/bazel_worker/lib/bazel_worker.dart
  pkgs/bazel_worker/lib/driver.dart
  pkgs/bazel_worker/lib/src/async_message_grouper.dart
  pkgs/bazel_worker/lib/src/constants.dart
  pkgs/bazel_worker/lib/src/driver/driver.dart
  pkgs/bazel_worker/lib/src/driver/driver_connection.dart
  pkgs/bazel_worker/lib/src/message_grouper.dart
  pkgs/bazel_worker/lib/src/message_grouper_state.dart
  pkgs/bazel_worker/lib/src/sync_message_grouper.dart
  pkgs/bazel_worker/lib/src/utils.dart
  pkgs/bazel_worker/lib/src/worker/async_worker_loop.dart
  pkgs/bazel_worker/lib/src/worker/sync_worker_loop.dart
  pkgs/bazel_worker/lib/src/worker/worker_connection.dart
  pkgs/bazel_worker/lib/src/worker/worker_loop.dart
  pkgs/bazel_worker/lib/src/worker_protocol.pb.dart
  pkgs/bazel_worker/lib/testing.dart
  pkgs/bazel_worker/pubspec.yaml
  pkgs/bazel_worker/test/driver_connection_test.dart
  pkgs/bazel_worker/test/driver_test.dart
  pkgs/bazel_worker/test/message_grouper_test.dart
  pkgs/bazel_worker/test/test_all.dart
  pkgs/bazel_worker/test/worker_loop_test.dart
  pkgs/bazel_worker/tool/travis.sh
  pkgs/bazel_worker/tool/update_proto.sh
Labels: type-infra, skip-breaking-check

#688 Merge `package:benchmark_harness`
  .github/ISSUE_TEMPLATE/benchmark_harness.md
  .github/labeler.yml
  .github/workflows/benchmark_harness.yaml
  README.md
  pkgs/benchmark_harness/.gitignore
  pkgs/benchmark_harness/CHANGELOG.md
  pkgs/benchmark_harness/LICENSE
  pkgs/benchmark_harness/README.md
  pkgs/benchmark_harness/analysis_options.yaml
  pkgs/benchmark_harness/example/template.dart
  pkgs/benchmark_harness/integration_test/perf_benchmark_test.dart
  pkgs/benchmark_harness/lib/benchmark_harness.dart
  pkgs/benchmark_harness/lib/perf_benchmark_harness.dart
  pkgs/benchmark_harness/lib/src/async_benchmark_base.dart
  pkgs/benchmark_harness/lib/src/benchmark_base.dart
  pkgs/benchmark_harness/lib/src/perf_benchmark_base.dart
  pkgs/benchmark_harness/lib/src/perf_benchmark_base_stub.dart
  pkgs/benchmark_harness/lib/src/score_emitter.dart
  pkgs/benchmark_harness/pubspec.yaml
  pkgs/benchmark_harness/test/benchmark_harness_test.dart
  pkgs/benchmark_harness/test/result_emitter_test.dart
Labels: type-infra, skip-breaking-check

#690 Merge `package:cli_util`
  .github/ISSUE_TEMPLATE/cli_util.md
  .github/labeler.yml
  .github/workflows/cli_util.yaml
  README.md
  pkgs/cli_util/.gitignore
  pkgs/cli_util/AUTHORS
  pkgs/cli_util/CHANGELOG.md
  pkgs/cli_util/LICENSE
  pkgs/cli_util/README.md
  pkgs/cli_util/analysis_options.yaml
  pkgs/cli_util/example/main.dart
  pkgs/cli_util/lib/cli_logging.dart
  pkgs/cli_util/lib/cli_util.dart
  pkgs/cli_util/pubspec.yaml
  pkgs/cli_util/test/cli_util_test.dart
Labels: type-infra, skip-breaking-check
