Repository dart-lang/tools, pull requests merged in 2024-09, with the labels that each got.

#585 Issue template for package:coverage
  .github/ISSUE_TEMPLATE/coverage.md
Labels: type-infra

#584 Added a couple parameters to `Event.devtoolsEvent` and `Event.exception`
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#431 [pkg-mime] contenttype to ext
  pkgs/mime/CHANGELOG.md
  pkgs/mime/CONTRIBUTING.md
  pkgs/mime/README.md
  pkgs/mime/lib/mime.dart
  pkgs/mime/lib/src/extension.dart
  pkgs/mime/lib/src/mime_type.dart
  pkgs/mime/pubspec.yaml
  pkgs/mime/test/extension_test.dart
  pkgs/mime/test/mime_type_test.dart
Labels: package:mime

#587 Fix lints, update all packages to latest lints
  .github/workflows/oauth2.yml
  pkgs/cli_config/lib/src/config.dart
  pkgs/extension_discovery/lib/extension_discovery.dart
  pkgs/extension_discovery/lib/src/yaml_config_format.dart
  pkgs/mime/lib/src/bound_multipart_stream.dart
  pkgs/oauth2/CHANGELOG.md
  pkgs/oauth2/analysis_options.yaml
  pkgs/oauth2/pubspec.yaml
  pkgs/source_map_stack_trace/CHANGELOG.md
  pkgs/source_map_stack_trace/pubspec.yaml
Labels: type-infra, package:cli_config, package:extension_discovery, skip-changelog-check

#589 Remove dependency on `package:intl`
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/config_handler.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/pubspec.yaml
Labels: package:unified_analytics

#590 extension_discovery: add `findPackageConfig()`
  pkgs/extension_discovery/CHANGELOG.md
  pkgs/extension_discovery/lib/extension_discovery.dart
  pkgs/extension_discovery/lib/src/package_config.dart
  pkgs/extension_discovery/test/package_config_test.dart
  pkgs/extension_discovery/test/test_descriptor.dart
Labels: package:extension_discovery

#591 Prepare for publishing extension_discovery-2.1.0
  pkgs/extension_discovery/CHANGELOG.md
  pkgs/extension_discovery/pubspec.yaml
Labels: package:extension_discovery

#279 [unified_analytics] Drop direct dependency on `package:path`
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/example/serving_surveys.dart
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/config_handler.dart
  pkgs/unified_analytics/lib/src/initializer.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/events_with_fake_test.dart
  pkgs/unified_analytics/test/log_handler_test.dart
  pkgs/unified_analytics/test/survey_handler_test.dart
Labels: package:unified_analytics

#593 unified_analytics: fix new lint
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#592 coverage: update test mocks
  pkgs/coverage/pubspec.yaml
  pkgs/coverage/test/collect_coverage_mock_test.mocks.dart
Labels: skip-changelog-check
