Repository dart-lang/tools, pull requests merged in 2024-12, with the labels that each got.

#1207 Merge `package:io`
  .github/ISSUE_TEMPLATE/io.md
  .github/labeler.yml
  .github/workflows/io.yaml
  README.md
  pkgs/io/.gitignore
  pkgs/io/AUTHORS
  pkgs/io/CHANGELOG.md
  pkgs/io/LICENSE
  pkgs/io/README.md
  pkgs/io/analysis_options.yaml
  pkgs/io/example/example.dart
  pkgs/io/example/spawn_process_example.dart
  pkgs/io/lib/ansi.dart
  pkgs/io/lib/io.dart
  pkgs/io/lib/src/ansi_code.dart
  pkgs/io/lib/src/charcodes.dart
  pkgs/io/lib/src/copy_path.dart
  pkgs/io/lib/src/exit_code.dart
  pkgs/io/lib/src/permissions.dart
  pkgs/io/lib/src/process_manager.dart
  pkgs/io/lib/src/shared_stdin.dart
  pkgs/io/lib/src/shell_words.dart
  pkgs/io/pubspec.yaml
  pkgs/io/test/_files/is_executable.sh
  pkgs/io/test/_files/is_not_executable.sh
  pkgs/io/test/_files/stderr_hello.dart
  pkgs/io/test/_files/stdin_echo.dart
  pkgs/io/test/_files/stdout_hello.dart
  pkgs/io/test/ansi_code_test.dart
  pkgs/io/test/copy_path_test.dart
  pkgs/io/test/permissions_test.dart
  pkgs/io/test/process_manager_test.dart
  pkgs/io/test/shared_stdin_test.dart
  pkgs/io/test/shell_words_test.dart
Labels: type-infra

#1259 Merge `package:pool`
  .github/ISSUE_TEMPLATE/pool.md
  .github/labeler.yml
  .github/workflows/pool.yaml
  README.md
  pkgs/pool/.gitignore
  pkgs/pool/CHANGELOG.md
  pkgs/pool/LICENSE
  pkgs/pool/README.md
  pkgs/pool/analysis_options.yaml
  pkgs/pool/benchmark/for_each_benchmark.dart
  pkgs/pool/lib/pool.dart
  pkgs/pool/pubspec.yaml
  pkgs/pool/test/pool_test.dart
Labels: type-infra

#1260 Merge `package:pub_semver`
  .github/ISSUE_TEMPLATE/pub_semver.md
  .github/labeler.yml
  .github/workflows/pub_semver.yaml
  README.md
  pkgs/pub_semver/.gitignore
  pkgs/pub_semver/CHANGELOG.md
  pkgs/pub_semver/LICENSE
  pkgs/pub_semver/README.md
  pkgs/pub_semver/analysis_options.yaml
  pkgs/pub_semver/example/example.dart
  pkgs/pub_semver/lib/pub_semver.dart
  pkgs/pub_semver/lib/src/patterns.dart
  pkgs/pub_semver/lib/src/utils.dart
  pkgs/pub_semver/lib/src/version.dart
  pkgs/pub_semver/lib/src/version_constraint.dart
  pkgs/pub_semver/lib/src/version_range.dart
  pkgs/pub_semver/lib/src/version_union.dart
  pkgs/pub_semver/pubspec.yaml
  pkgs/pub_semver/test/utils.dart
  pkgs/pub_semver/test/version_constraint_test.dart
  pkgs/pub_semver/test/version_range_test.dart
  pkgs/pub_semver/test/version_test.dart
  pkgs/pub_semver/test/version_union_test.dart
Labels: type-infra

#1262 Merge `package:source_maps`
  .github/ISSUE_TEMPLATE/source_maps.md
  .github/labeler.yml
  .github/workflows/source_maps.yaml
  README.md
  pkgs/source_maps/.gitignore
  pkgs/source_maps/CHANGELOG.md
  pkgs/source_maps/LICENSE
  pkgs/source_maps/README.md
  pkgs/source_maps/analysis_options.yaml
  pkgs/source_maps/lib/builder.dart
  pkgs/source_maps/lib/parser.dart
  pkgs/source_maps/lib/printer.dart
  pkgs/source_maps/lib/refactor.dart
  pkgs/source_maps/lib/source_maps.dart
  pkgs/source_maps/lib/src/source_map_span.dart
  pkgs/source_maps/lib/src/utils.dart
  pkgs/source_maps/lib/src/vlq.dart
  pkgs/source_maps/pubspec.yaml
  pkgs/source_maps/test/builder_test.dart
  pkgs/source_maps/test/common.dart
  pkgs/source_maps/test/end2end_test.dart
  pkgs/source_maps/test/parser_test.dart
  pkgs/source_maps/test/printer_test.dart
  pkgs/source_maps/test/refactor_test.dart
  pkgs/source_maps/test/utils_test.dart
  pkgs/source_maps/test/vlq_test.dart
Labels: type-infra

#1263 Merge `package:source_span`
  .github/ISSUE_TEMPLATE/source_span.md
  .github/labeler.yml
  .github/workflows/source_span.yaml
  README.md
  pkgs/source_span/.gitignore
  pkgs/source_span/CHANGELOG.md
  pkgs/source_span/LICENSE
  pkgs/source_span/README.md
  pkgs/source_span/analysis_options.yaml
  pkgs/source_span/example/main.dart
  pkgs/source_span/lib/source_span.dart
  pkgs/source_span/lib/src/charcode.dart
  pkgs/source_span/lib/src/colors.dart
  pkgs/source_span/lib/src/file.dart
  pkgs/source_span/lib/src/highlighter.dart
  pkgs/source_span/lib/src/location.dart
  pkgs/source_span/lib/src/location_mixin.dart
  pkgs/source_span/lib/src/span.dart
  pkgs/source_span/lib/src/span_exception.dart
  pkgs/source_span/lib/src/span_mixin.dart
  pkgs/source_span/lib/src/span_with_context.dart
  pkgs/source_span/lib/src/utils.dart
  pkgs/source_span/pubspec.yaml
  pkgs/source_span/test/file_test.dart
  pkgs/source_span/test/highlight_test.dart
  pkgs/source_span/test/location_test.dart
  pkgs/source_span/test/multiple_highlight_test.dart
  pkgs/source_span/test/span_test.dart
  pkgs/source_span/test/utils_test.dart
Labels: type-infra

#1264 Merge `package:sse`
  .github/ISSUE_TEMPLATE/sse.md
  .github/labeler.yml
  .github/workflows/sse.yaml
  README.md
  pkgs/sse/.gitignore
  pkgs/sse/AUTHORS
  pkgs/sse/CHANGELOG.md
  pkgs/sse/LICENSE
  pkgs/sse/README.md
  pkgs/sse/analysis_options.yaml
  pkgs/sse/example/index.dart
  pkgs/sse/example/server.dart
  pkgs/sse/lib/client/sse_client.dart
  pkgs/sse/lib/server/sse_handler.dart
  pkgs/sse/lib/src/server/sse_handler.dart
  pkgs/sse/lib/src/util/uuid.dart
  pkgs/sse/pubspec.yaml
  pkgs/sse/test/sse_test.dart
  pkgs/sse/test/web/index.dart
  pkgs/sse/test/web/index.dart.js
  pkgs/sse/test/web/index.html
  pkgs/sse/tool/build_js.sh
Labels: type-infra

#1667 Move to latest dart_flutter_team_lints
  pkgs/source_maps/CHANGELOG.md
  pkgs/source_maps/lib/builder.dart
  pkgs/source_maps/lib/parser.dart
  pkgs/source_maps/lib/printer.dart
  pkgs/source_maps/lib/refactor.dart
  pkgs/source_maps/lib/source_maps.dart
  pkgs/source_maps/lib/src/utils.dart
  pkgs/source_maps/lib/src/vlq.dart
  pkgs/source_maps/pubspec.yaml
  pkgs/source_maps/test/common.dart
  pkgs/source_maps/test/utils_test.dart
Labels: package:source_maps

#1668 Migrate many custom matchers to TypeMatcher
  pkgs/file/pubspec.yaml
  pkgs/file_testing/CHANGELOG.md
  pkgs/file_testing/analysis_options.yaml
  pkgs/file_testing/lib/src/testing/core_matchers.dart
  pkgs/file_testing/pubspec.yaml
Labels: skip-changelog-check, package:file, package:file_testing

#1669 file: enable and fix latest team lints
  pkgs/file/CHANGELOG.md
  pkgs/file/analysis_options.yaml
  pkgs/file/example/main.dart
  pkgs/file/lib/chroot.dart
  pkgs/file/lib/file.dart
  pkgs/file/lib/local.dart
  pkgs/file/lib/memory.dart
  pkgs/file/lib/src/backends/chroot.dart
  pkgs/file/lib/src/backends/chroot/chroot_directory.dart
  pkgs/file/lib/src/backends/chroot/chroot_file.dart
  pkgs/file/lib/src/backends/chroot/chroot_file_system.dart
  pkgs/file/lib/src/backends/chroot/chroot_file_system_entity.dart
  pkgs/file/lib/src/backends/chroot/chroot_link.dart
  pkgs/file/lib/src/backends/chroot/chroot_random_access_file.dart
  pkgs/file/lib/src/backends/local/local_directory.dart
  pkgs/file/lib/src/backends/local/local_file.dart
  pkgs/file/lib/src/backends/local/local_file_system.dart
  pkgs/file/lib/src/backends/local/local_file_system_entity.dart
  pkgs/file/lib/src/backends/local/local_link.dart
  pkgs/file/lib/src/backends/memory/clock.dart
  pkgs/file/lib/src/backends/memory/common.dart
  pkgs/file/lib/src/backends/memory/memory_directory.dart
  pkgs/file/lib/src/backends/memory/memory_file.dart
  pkgs/file/lib/src/backends/memory/memory_file_stat.dart
  pkgs/file/lib/src/backends/memory/memory_file_system.dart
  pkgs/file/lib/src/backends/memory/memory_file_system_entity.dart
  pkgs/file/lib/src/backends/memory/memory_link.dart
  pkgs/file/lib/src/backends/memory/memory_random_access_file.dart
  pkgs/file/lib/src/backends/memory/node.dart
  pkgs/file/lib/src/backends/memory/operations.dart
  pkgs/file/lib/src/backends/memory/style.dart
  pkgs/file/lib/src/backends/memory/utils.dart
  pkgs/file/lib/src/forwarding/forwarding_directory.dart
  pkgs/file/lib/src/forwarding/forwarding_file.dart
  pkgs/file/lib/src/forwarding/forwarding_file_system.dart
  pkgs/file/lib/src/forwarding/forwarding_file_system_entity.dart
  pkgs/file/lib/src/forwarding/forwarding_link.dart
  pkgs/file/lib/src/forwarding/forwarding_random_access_file.dart
  pkgs/file/lib/src/interface.dart
  pkgs/file/lib/src/interface/error_codes.dart
  pkgs/file/lib/src/interface/file_system.dart
  pkgs/file/lib/src/io.dart
  pkgs/file/pubspec.yaml
  pkgs/file/test/chroot_test.dart
  pkgs/file/test/common_tests.dart
  pkgs/file/test/local_test.dart
  pkgs/file/test/memory_operations_test.dart
  pkgs/file/test/memory_test.dart
  pkgs/file/test/utils.dart
  pkgs/file/test/utils_test.dart
Labels: package:file

#1663 Merge `package:timing`
  .github/ISSUE_TEMPLATE/timing.md
  .github/labeler.yml
  .github/workflows/timing.yaml
  README.md
  pkgs/timing/.gitignore
  pkgs/timing/CHANGELOG.md
  pkgs/timing/LICENSE
  pkgs/timing/README.md
  pkgs/timing/analysis_options.yaml
  pkgs/timing/lib/src/clock.dart
  pkgs/timing/lib/src/timing.dart
  pkgs/timing/lib/src/timing.g.dart
  pkgs/timing/lib/timing.dart
  pkgs/timing/pubspec.yaml
  pkgs/timing/test/timing_test.dart
Labels: type-infra

#1664 Merge `package:test_reflective_loader`
  .github/ISSUE_TEMPLATE/test_reflective_loader.md
  .github/labeler.yml
  .github/workflows/test_reflective_loader.yaml
  README.md
  pkgs/test_reflective_loader/.gitignore
  pkgs/test_reflective_loader/AUTHORS
  pkgs/test_reflective_loader/CHANGELOG.md
  pkgs/test_reflective_loader/LICENSE
  pkgs/test_reflective_loader/README.md
  pkgs/test_reflective_loader/analysis_options.yaml
  pkgs/test_reflective_loader/lib/test_reflective_loader.dart
  pkgs/test_reflective_loader/pubspec.yaml
  pkgs/test_reflective_loader/test/test_reflective_loader_test.dart
Labels: type-infra

#1679 Bump dart_flutter_team lints to latest across packages
  .github/workflows/bazel_worker.yaml
  pkgs/bazel_worker/benchmark/benchmark.dart
  pkgs/bazel_worker/e2e_test/bin/async_worker_in_isolate.dart
  pkgs/bazel_worker/e2e_test/lib/async_worker.dart
  pkgs/bazel_worker/e2e_test/lib/forwards_to_isolate_async_worker.dart
  pkgs/bazel_worker/e2e_test/pubspec.yaml
  pkgs/bazel_worker/e2e_test/test/e2e_test.dart
  pkgs/bazel_worker/example/client.dart
  pkgs/bazel_worker/lib/src/async_message_grouper.dart
  pkgs/bazel_worker/lib/src/driver/driver.dart
  pkgs/bazel_worker/lib/src/driver/driver_connection.dart
  pkgs/bazel_worker/lib/src/utils.dart
  pkgs/bazel_worker/lib/src/worker/async_worker_loop.dart
  pkgs/bazel_worker/lib/src/worker/sync_worker_loop.dart
  pkgs/bazel_worker/lib/src/worker/worker_connection.dart
  pkgs/bazel_worker/lib/testing.dart
  pkgs/bazel_worker/test/driver_test.dart
  pkgs/bazel_worker/test/message_grouper_test.dart
  pkgs/bazel_worker/test/worker_loop_test.dart
  pkgs/clock/analysis_options.yaml
  pkgs/coverage/analysis_options.yaml
  pkgs/test_reflective_loader/pubspec.yaml
Labels: type-infra, skip-changelog-check, package:coverage, package:clock, package:bazel_worker, package:test_reflective_loader

#1680 bazel_worker: Fix broken bad action
  .github/workflows/bazel_worker.yaml
Labels: type-infra

#1660 Merge `package:term_glyph`
  .github/ISSUE_TEMPLATE/term_glyph.md
  .github/labeler.yml
  .github/workflows/term_glyph.yaml
  README.md
  pkgs/term_glyph/.gitignore
  pkgs/term_glyph/AUTHORS
  pkgs/term_glyph/CHANGELOG.md
  pkgs/term_glyph/LICENSE
  pkgs/term_glyph/README.md
  pkgs/term_glyph/analysis_options.yaml
  pkgs/term_glyph/data.csv
  pkgs/term_glyph/lib/src/generated/ascii_glyph_set.dart
  pkgs/term_glyph/lib/src/generated/glyph_set.dart
  pkgs/term_glyph/lib/src/generated/top_level.dart
  pkgs/term_glyph/lib/src/generated/unicode_glyph_set.dart
  pkgs/term_glyph/lib/term_glyph.dart
  pkgs/term_glyph/pubspec.yaml
  pkgs/term_glyph/test/symbol_test.dart
  pkgs/term_glyph/tool/generate.dart
Labels: type-infra

#1665 Merge `package:watcher`
  .github/ISSUE_TEMPLATE/watcher.md
  .github/labeler.yml
  .github/workflows/watcher.yaml
  README.md
  pkgs/watcher/.gitignore
  pkgs/watcher/.test_config
  pkgs/watcher/CHANGELOG.md
  pkgs/watcher/LICENSE
  pkgs/watcher/README.md
  pkgs/watcher/analysis_options.yaml
  pkgs/watcher/benchmark/path_set.dart
  pkgs/watcher/example/watch.dart
  pkgs/watcher/lib/src/async_queue.dart
  pkgs/watcher/lib/src/custom_watcher_factory.dart
  pkgs/watcher/lib/src/directory_watcher.dart
  pkgs/watcher/lib/src/directory_watcher/linux.dart
  pkgs/watcher/lib/src/directory_watcher/mac_os.dart
  pkgs/watcher/lib/src/directory_watcher/polling.dart
  pkgs/watcher/lib/src/directory_watcher/windows.dart
  pkgs/watcher/lib/src/file_watcher.dart
  pkgs/watcher/lib/src/file_watcher/native.dart
  pkgs/watcher/lib/src/file_watcher/polling.dart
  pkgs/watcher/lib/src/path_set.dart
  pkgs/watcher/lib/src/resubscribable.dart
  pkgs/watcher/lib/src/stat.dart
  pkgs/watcher/lib/src/utils.dart
  pkgs/watcher/lib/src/watch_event.dart
  pkgs/watcher/lib/watcher.dart
  pkgs/watcher/pubspec.yaml
  pkgs/watcher/test/custom_watcher_factory_test.dart
  pkgs/watcher/test/directory_watcher/linux_test.dart
  pkgs/watcher/test/directory_watcher/mac_os_test.dart
  pkgs/watcher/test/directory_watcher/polling_test.dart
  pkgs/watcher/test/directory_watcher/shared.dart
  pkgs/watcher/test/directory_watcher/windows_test.dart
  pkgs/watcher/test/file_watcher/native_test.dart
  pkgs/watcher/test/file_watcher/polling_test.dart
  pkgs/watcher/test/file_watcher/shared.dart
  pkgs/watcher/test/no_subscription/linux_test.dart
  pkgs/watcher/test/no_subscription/mac_os_test.dart
  pkgs/watcher/test/no_subscription/polling_test.dart
  pkgs/watcher/test/no_subscription/shared.dart
  pkgs/watcher/test/no_subscription/windows_test.dart
  pkgs/watcher/test/path_set_test.dart
  pkgs/watcher/test/ready/linux_test.dart
  pkgs/watcher/test/ready/mac_os_test.dart
  pkgs/watcher/test/ready/polling_test.dart
  pkgs/watcher/test/ready/shared.dart
  pkgs/watcher/test/ready/windows_test.dart
  pkgs/watcher/test/utils.dart
Labels: type-infra

#1658 Merge `package:string_scanner`
  .github/ISSUE_TEMPLATE/string_scanner.md
  pkgs/string_scanner/.github/dependabot.yml
  pkgs/string_scanner/.github/workflows/publish.yaml
  pkgs/string_scanner/.github/workflows/test-package.yml
  pkgs/string_scanner/.gitignore
  pkgs/string_scanner/CHANGELOG.md
  pkgs/string_scanner/LICENSE
  pkgs/string_scanner/README.md
  pkgs/string_scanner/analysis_options.yaml
  pkgs/string_scanner/example/example.dart
  pkgs/string_scanner/lib/src/charcode.dart
  pkgs/string_scanner/lib/src/eager_span_scanner.dart
  pkgs/string_scanner/lib/src/exception.dart
  pkgs/string_scanner/lib/src/line_scanner.dart
  pkgs/string_scanner/lib/src/relative_span_scanner.dart
  pkgs/string_scanner/lib/src/span_scanner.dart
  pkgs/string_scanner/lib/src/string_scanner.dart
  pkgs/string_scanner/lib/src/utils.dart
  pkgs/string_scanner/lib/string_scanner.dart
  pkgs/string_scanner/pubspec.yaml
  pkgs/string_scanner/test/error_test.dart
  pkgs/string_scanner/test/line_scanner_test.dart
  pkgs/string_scanner/test/span_scanner_test.dart
  pkgs/string_scanner/test/string_scanner_test.dart
  pkgs/string_scanner/test/utils.dart
Labels: type-infra

#1261 Merge `package:pubspec_parse`
  .github/ISSUE_TEMPLATE/pubspec_parse.md
  .github/labeler.yml
  .github/workflows/pubspec_parse.yaml
  README.md
  pkgs/pubspec_parse/.gitignore
  pkgs/pubspec_parse/CHANGELOG.md
  pkgs/pubspec_parse/LICENSE
  pkgs/pubspec_parse/README.md
  pkgs/pubspec_parse/analysis_options.yaml
  pkgs/pubspec_parse/build.yaml
  pkgs/pubspec_parse/dart_test.yaml
  pkgs/pubspec_parse/lib/pubspec_parse.dart
  pkgs/pubspec_parse/lib/src/dependency.dart
  pkgs/pubspec_parse/lib/src/dependency.g.dart
  pkgs/pubspec_parse/lib/src/pubspec.dart
  pkgs/pubspec_parse/lib/src/pubspec.g.dart
  pkgs/pubspec_parse/lib/src/screenshot.dart
  pkgs/pubspec_parse/pubspec.yaml
  pkgs/pubspec_parse/test/dependency_test.dart
  pkgs/pubspec_parse/test/ensure_build_test.dart
  pkgs/pubspec_parse/test/git_uri_test.dart
  pkgs/pubspec_parse/test/parse_test.dart
  pkgs/pubspec_parse/test/pub_utils.dart
  pkgs/pubspec_parse/test/test_utils.dart
Labels: type-infra

#1265 Merge `package:stack_trace`
  .github/ISSUE_TEMPLATE/stack_trace.md
  .github/labeler.yml
  .github/workflows/stack_trace.yaml
  README.md
  pkgs/stack_trace/.gitignore
  pkgs/stack_trace/CHANGELOG.md
  pkgs/stack_trace/LICENSE
  pkgs/stack_trace/README.md
  pkgs/stack_trace/analysis_options.yaml
  pkgs/stack_trace/example/example.dart
  pkgs/stack_trace/lib/src/chain.dart
  pkgs/stack_trace/lib/src/frame.dart
  pkgs/stack_trace/lib/src/lazy_chain.dart
  pkgs/stack_trace/lib/src/lazy_trace.dart
  pkgs/stack_trace/lib/src/stack_zone_specification.dart
  pkgs/stack_trace/lib/src/trace.dart
  pkgs/stack_trace/lib/src/unparsed_frame.dart
  pkgs/stack_trace/lib/src/utils.dart
  pkgs/stack_trace/lib/src/vm_trace.dart
  pkgs/stack_trace/lib/stack_trace.dart
  pkgs/stack_trace/pubspec.yaml
  pkgs/stack_trace/test/chain/chain_test.dart
  pkgs/stack_trace/test/chain/dart2js_test.dart
  pkgs/stack_trace/test/chain/utils.dart
  pkgs/stack_trace/test/chain/vm_test.dart
  pkgs/stack_trace/test/frame_test.dart
  pkgs/stack_trace/test/trace_test.dart
  pkgs/stack_trace/test/utils.dart
  pkgs/stack_trace/test/vm_test.dart
Labels: type-infra

#1661 Merge `package:yaml`
  .github/ISSUE_TEMPLATE/yaml.md
  .github/labeler.yml
  .github/workflows/yaml.yaml
  README.md
  pkgs/yaml/.gitignore
  pkgs/yaml/CHANGELOG.md
  pkgs/yaml/LICENSE
  pkgs/yaml/README.md
  pkgs/yaml/analysis_options.yaml
  pkgs/yaml/benchmark/benchmark.dart
  pkgs/yaml/benchmark/input.yaml
  pkgs/yaml/benchmark/output.json
  pkgs/yaml/example/example.dart
  pkgs/yaml/lib/src/charcodes.dart
  pkgs/yaml/lib/src/equality.dart
  pkgs/yaml/lib/src/error_listener.dart
  pkgs/yaml/lib/src/event.dart
  pkgs/yaml/lib/src/loader.dart
  pkgs/yaml/lib/src/null_span.dart
  pkgs/yaml/lib/src/parser.dart
  pkgs/yaml/lib/src/scanner.dart
  pkgs/yaml/lib/src/style.dart
  pkgs/yaml/lib/src/token.dart
  pkgs/yaml/lib/src/utils.dart
  pkgs/yaml/lib/src/yaml_document.dart
  pkgs/yaml/lib/src/yaml_exception.dart
  pkgs/yaml/lib/src/yaml_node.dart
  pkgs/yaml/lib/src/yaml_node_wrapper.dart
  pkgs/yaml/lib/yaml.dart
  pkgs/yaml/pubspec.yaml
  pkgs/yaml/test/span_test.dart
  pkgs/yaml/test/utils.dart
  pkgs/yaml/test/yaml_node_wrapper_test.dart
  pkgs/yaml/test/yaml_test.dart
Labels: type-infra

#1948 Added `workspace:` and `resolution: fields`
  pkgs/pubspec_parse/CHANGELOG.md
  pkgs/pubspec_parse/lib/src/pubspec.dart
  pkgs/pubspec_parse/lib/src/pubspec.g.dart
  pkgs/pubspec_parse/pubspec.yaml
  pkgs/pubspec_parse/test/parse_test.dart
Labels: package:pubspec_parse
