Repository dart-lang/tools, pull requests merged in 2024-06, with the labels that each got.

#276 Don't collect coverage on Windows
  .github/workflows/cli_config.yml
Labels: type-infra

#278 [unified_analytics] Add lints to consistently use final
  pkgs/unified_analytics/analysis_options.yaml
  pkgs/unified_analytics/example/unified_analytics_example.dart
  pkgs/unified_analytics/lib/src/asserts.dart
  pkgs/unified_analytics/lib/src/log_handler.dart
  pkgs/unified_analytics/lib/src/survey_handler.dart
  pkgs/unified_analytics/lib/src/user_property.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/test/event_test.dart
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics

#277 delete old log file if it exceeds kMaxLogFileSize of 25MiB
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/log_handler.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/log_handler_test.dart
Labels: package:unified_analytics

#280 [unified_analytics 5.8.8] Prevent `FileSystemException`s from happening when logging outgoing events
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/log_handler.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/log_handler_test.dart
Labels: package:unified_analytics

#281 Patch tests for unified_analytics 5.8.8+2 fixes
  .github/workflows/unified_analytics.yml
  pkgs/unified_analytics/lib/src/log_handler.dart
  pkgs/unified_analytics/test/log_handler_test.dart
Labels: type-infra, package:unified_analytics
