Repository dart-lang/tools, pull requests merged in 2024-11, with the labels that each got.

#684 Fix doc comment references with backticks
  pkgs/file/lib/src/interface/file_system.dart
Labels: skip-changelog-check, package:file

#1187 Fix analysis across packages
  .github/workflows/bazel_worker.yaml
  pkgs/bazel_worker/CHANGELOG.md
  pkgs/bazel_worker/analysis_options.yaml
  pkgs/bazel_worker/e2e_test/pubspec.yaml
  pkgs/bazel_worker/e2e_test/test/e2e_test.dart
  pkgs/bazel_worker/pubspec.yaml
  pkgs/boolean_selector/analysis_options.yaml
  pkgs/coverage/analysis_options.yaml
  pkgs/graphs/analysis_options.yaml
  pkgs/json_rpc_2/analysis_options.yaml
  pkgs/mime/analysis_options.yaml
  pkgs/oauth2/analysis_options.yaml
Labels: type-infra, package:graphs, package:oauth2, package:mime, package:coverage, package:boolean_selector, package:json_rpc_2, package:bazel_worker

#1191 Remove any `data` entries with a null value in the `Event.exception` constructor.
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#1190 add links to package issue trackers
  .github/ISSUE_TEMPLATE/bazel_worker.md
  .github/ISSUE_TEMPLATE/benchmark_harness.md
  .github/ISSUE_TEMPLATE/boolean_selector.md
  .github/ISSUE_TEMPLATE/browser_launcher.md
  .github/ISSUE_TEMPLATE/cli_util.md
  .github/ISSUE_TEMPLATE/clock.md
  .github/ISSUE_TEMPLATE/code_builder.md
  .github/ISSUE_TEMPLATE/csslib.md
  .github/ISSUE_TEMPLATE/html.md
  .github/ISSUE_TEMPLATE/json_rpc_2.md
  .github/ISSUE_TEMPLATE/mime.md
  .github/ISSUE_TEMPLATE/oauth2.md
  .github/ISSUE_TEMPLATE/source_map_stack_trace.md
  .github/labeler.yml
  .github/workflows/graphs.yml
  README.md
  pkgs/bazel_worker/pubspec.yaml
  pkgs/benchmark_harness/pubspec.yaml
  pkgs/boolean_selector/pubspec.yaml
  pkgs/browser_launcher/pubspec.yaml
  pkgs/cli_config/pubspec.yaml
  pkgs/cli_util/pubspec.yaml
  pkgs/clock/pubspec.yaml
  pkgs/code_builder/pubspec.yaml
  pkgs/coverage/pubspec.yaml
  pkgs/csslib/pubspec.yaml
  pkgs/extension_discovery/pubspec.yaml
  pkgs/file/pubspec.yaml
  pkgs/file_testing/pubspec.yaml
  pkgs/graphs/pubspec.yaml
  pkgs/html/pubspec.yaml
  pkgs/json_rpc_2/pubspec.yaml
  pkgs/mime/pubspec.yaml
  pkgs/oauth2/pubspec.yaml
  pkgs/source_map_stack_trace/pubspec.yaml
  pkgs/unified_analytics/pubspec.yaml
Labels: type-infra, package:unified_analytics, package:cli_config, package:graphs, package:extension_discovery, skip-changelog-check, package:oauth2, package:mime, package:coverage, package:source_map_stack_trace, package:file, package:file_testing, package:boolean_selector, package:clock, package:json_rpc_2, package:browser_launcher, package:csslib, package:bazel_worker, package:benchmark_harness, package:cli_util, package:code_builder, package:html

#1193 Breaking change: add and remove parameters from the `Event.devtoolsEvent` constructor
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/lib/unified_analytics.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#1189 [coverage] Fix isolate resumption after service disposal
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/lib/src/isolate_paused_listener.dart
  pkgs/coverage/pubspec.yaml
  pkgs/coverage/test/isolate_paused_listener_test.dart
Labels: package:coverage

#1200 In the `Event.exception` constructor, modify a clone of the `args` argument instead of `args` itself
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#282 run CI on all PR branches
  .github/workflows/cli_config.yml
  .github/workflows/extension_discovery.yml
  .github/workflows/graphs.yml
  .github/workflows/unified_analytics.yml
Labels: type-infra, autosubmit
