Repository dart-lang/tools, pull requests merged in 2024-08, with the labels that each got.

#292 Add health workflow
  .github/workflows/health.yaml
  .github/workflows/post_summaries.yaml
  pkgs/unified_analytics/lib/testing.dart
Labels: type-infra, package:unified_analytics, skip-changelog-check

#294 Ignore unintended_html_in_doc_comment
  pkgs/graphs/CHANGELOG.md
  pkgs/graphs/analysis_options.yaml
  pkgs/graphs/pubspec.yaml
Labels: package:graphs

#293 Add examples of calling two algorithms to README
  pkgs/graphs/CHANGELOG.md
  pkgs/graphs/README.md
Labels: package:graphs

#291 Merge `source_map_stack_trace` package
  .github/workflows/source_map_stack_trace.yml
  README.md
  pkgs/source_map_stack_trace/.gitignore
  pkgs/source_map_stack_trace/.test_config
  pkgs/source_map_stack_trace/AUTHORS
  pkgs/source_map_stack_trace/CHANGELOG.md
  pkgs/source_map_stack_trace/LICENSE
  pkgs/source_map_stack_trace/README.md
  pkgs/source_map_stack_trace/analysis_options.yaml
  pkgs/source_map_stack_trace/lib/source_map_stack_trace.dart
  pkgs/source_map_stack_trace/pubspec.yaml
  pkgs/source_map_stack_trace/test/source_map_stack_trace_test.dart
Labels: type-infra, skip-breaking-check

#297 Fix badge ref for `package:source_map_stack_trace`.
  pkgs/source_map_stack_trace/README.md
Labels: skip-changelog-check

#290 Merge `oauth2` package
  .github/workflows/oauth2.yml
  README.md
  pkgs/oauth2/.gitignore
  pkgs/oauth2/CHANGELOG.md
  pkgs/oauth2/LICENSE
  pkgs/oauth2/README.md
  pkgs/oauth2/analysis_options.yaml
  pkgs/oauth2/example/main.dart
  pkgs/oauth2/lib/oauth2.dart
  pkgs/oauth2/lib/src/authorization_code_grant.dart
  pkgs/oauth2/lib/src/authorization_exception.dart
  pkgs/oauth2/lib/src/client.dart
  pkgs/oauth2/lib/src/client_credentials_grant.dart
  pkgs/oauth2/lib/src/credentials.dart
  pkgs/oauth2/lib/src/expiration_exception.dart
  pkgs/oauth2/lib/src/handle_access_token_response.dart
  pkgs/oauth2/lib/src/parameters.dart
  pkgs/oauth2/lib/src/resource_owner_password_grant.dart
  pkgs/oauth2/lib/src/utils.dart
  pkgs/oauth2/pubspec.yaml
  pkgs/oauth2/test/authorization_code_grant_test.dart
  pkgs/oauth2/test/client_credentials_grant_test.dart
  pkgs/oauth2/test/client_test.dart
  pkgs/oauth2/test/credentials_test.dart
  pkgs/oauth2/test/handle_access_token_response_test.dart
  pkgs/oauth2/test/resource_owner_password_grant_test.dart
  pkgs/oauth2/test/utils.dart
Labels: type-infra, skip-breaking-check

#388 Merge mime package
  .github/workflows/mime.yml
  README.md
  pkgs/mime/.gitignore
  pkgs/mime/AUTHORS
  pkgs/mime/CHANGELOG.md
  pkgs/mime/CONTRIBUTING.md
  pkgs/mime/LICENSE
  pkgs/mime/README.md
  pkgs/mime/analysis_options.yaml
  pkgs/mime/example/example.dart
  pkgs/mime/lib/mime.dart
  pkgs/mime/lib/src/bound_multipart_stream.dart
  pkgs/mime/lib/src/char_code.dart
  pkgs/mime/lib/src/default_extension_map.dart
  pkgs/mime/lib/src/magic_number.dart
  pkgs/mime/lib/src/mime_multipart_transformer.dart
  pkgs/mime/lib/src/mime_shared.dart
  pkgs/mime/lib/src/mime_type.dart
  pkgs/mime/pubspec.yaml
  pkgs/mime/test/default_extension_map_test.dart
  pkgs/mime/test/mime_multipart_transformer_test.dart
  pkgs/mime/test/mime_type_test.dart
Labels: type-infra, skip-breaking-check

#432 Merge `package:coverage`
  .github/workflows/coverage.yml
  .github/workflows/health.yaml
  pkgs/coverage/.gitignore
  pkgs/coverage/AUTHORS
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/LICENSE
  pkgs/coverage/PATENTS
  pkgs/coverage/README.md
  pkgs/coverage/analysis_options.yaml
  pkgs/coverage/benchmark/.gitignore
  pkgs/coverage/benchmark/many_isolates.dart
  pkgs/coverage/benchmark/run_benchmarks.dart
  pkgs/coverage/bin/collect_coverage.dart
  pkgs/coverage/bin/format_coverage.dart
  pkgs/coverage/bin/run_and_collect.dart
  pkgs/coverage/bin/test_with_coverage.dart
  pkgs/coverage/lib/coverage.dart
  pkgs/coverage/lib/src/chrome.dart
  pkgs/coverage/lib/src/collect.dart
  pkgs/coverage/lib/src/formatter.dart
  pkgs/coverage/lib/src/hitmap.dart
  pkgs/coverage/lib/src/resolver.dart
  pkgs/coverage/lib/src/run_and_collect.dart
  pkgs/coverage/lib/src/util.dart
  pkgs/coverage/pubspec.yaml
  pkgs/coverage/test/README.md
  pkgs/coverage/test/chrome_test.dart
  pkgs/coverage/test/collect_coverage_api_test.dart
  pkgs/coverage/test/collect_coverage_mock_test.dart
  pkgs/coverage/test/collect_coverage_mock_test.mocks.dart
  pkgs/coverage/test/collect_coverage_test.dart
  pkgs/coverage/test/format_coverage_test.dart
  pkgs/coverage/test/function_coverage_test.dart
  pkgs/coverage/test/lcov_test.dart
  pkgs/coverage/test/resolver_test.dart
  pkgs/coverage/test/run_and_collect_test.dart
  pkgs/coverage/test/test_files/chrome_precise_report.txt
  pkgs/coverage/test/test_files/function_coverage_app.dart
  pkgs/coverage/test/test_files/main_test.js
  pkgs/coverage/test/test_files/main_test.js.map
  pkgs/coverage/test/test_files/test_app.dart
  pkgs/coverage/test/test_files/test_app.g.dart
  pkgs/coverage/test/test_files/test_app_isolate.dart
  pkgs/coverage/test/test_files/test_library.dart
  pkgs/coverage/test/test_files/test_library_part.dart
  pkgs/coverage/test/test_util.dart
  pkgs/coverage/test/test_with_coverage_package/lib/validate_lib.dart
  pkgs/coverage/test/test_with_coverage_package/pubspec.yaml
  pkgs/coverage/test/test_with_coverage_package/test/product_test.dart
  pkgs/coverage/test/test_with_coverage_package/test/sum_test.dart
  pkgs/coverage/test/test_with_coverage_test.dart
  pkgs/coverage/test/util_test.dart
Labels: type-infra, skip-breaking-check
