Repository dart-lang/tools, pull requests merged in 2025-01, with the labels that each got.

#1945 [stream_transform] bump to latest lints
  pkgs/stream_transform/CHANGELOG.md
  pkgs/stream_transform/lib/src/common_callbacks.dart
  pkgs/stream_transform/pubspec.yaml
Labels: package:stream_transform

#1946 pubspec_parse: update dependencies and require Dart 3.6
  .github/workflows/pubspec_parse.yaml
  pkgs/pubspec_parse/CHANGELOG.md
  pkgs/pubspec_parse/pubspec.yaml
Labels: type-infra, package:pubspec_parse

#1956 [term_glyph] Drop dart_style dep
  pkgs/term_glyph/CHANGELOG.md
  pkgs/term_glyph/lib/src/generated/ascii_glyph_set.dart
  pkgs/term_glyph/lib/src/generated/glyph_set.dart
  pkgs/term_glyph/lib/src/generated/top_level.dart
  pkgs/term_glyph/lib/src/generated/unicode_glyph_set.dart
  pkgs/term_glyph/pubspec.yaml
  pkgs/term_glyph/tool/generate.dart
Labels: package:term_glyph

#1952 pubspec_parse: Added support for `executables` field in `pubspec.yaml`
  pkgs/pubspec_parse/CHANGELOG.md
  pkgs/pubspec_parse/lib/src/pubspec.dart
  pkgs/pubspec_parse/lib/src/pubspec.g.dart
  pkgs/pubspec_parse/pubspec.yaml
  pkgs/pubspec_parse/test/parse_test.dart
Labels: package:pubspec_parse

#1958 update stream_transform example to package:web
  .github/workflows/stream_transform.yaml
  pkgs/stream_transform/CHANGELOG.md
  pkgs/stream_transform/example/main.dart
  pkgs/stream_transform/pubspec.yaml
Labels: type-infra, package:stream_transform

#1959 [graphs] update dev dependencies
  pkgs/graphs/pubspec.yaml
Labels: package:graphs, skip-changelog-check

#1963 Fix markdown workflow names
  .github/workflows/markdown_crash_test.yaml
  .github/workflows/markdown_flutter.yaml
Labels: type-infra

#1967 Fix check for copied directories
  pkgs/io/test/copy_path_test.dart
Labels: package:io

#1966 add a workflow to deply the markdown playground
  .github/workflows/deploy_pages.yaml
  .github/workflows/markdown.yaml
  .github/workflows/markdown_crash_test.yaml
  .gitignore
  pkgs/markdown/.gitignore
  pkgs/markdown/CHANGELOG.md
  pkgs/markdown/README.md
  pkgs/markdown/lib/src/version.dart
  pkgs/markdown/pubspec.yaml
Labels: type-infra, package:markdown

#1968 fix the deploy_pages.yaml workflow
  .github/workflows/deploy_pages.yaml
Labels: type-infra

#1969 [markdown] use build_runner to build js & wasm
  .github/workflows/deploy_pages.yaml
  pkgs/markdown/.gitignore
  pkgs/markdown/build.yaml
Labels: type-infra, package:markdown

#1970 [markdown] update example CSS/JS and add an example readme
  .github/workflows/deploy_pages.yaml
  pkgs/markdown/build.yaml
  pkgs/markdown/example/README.md
  pkgs/markdown/example/index.html
Labels: type-infra, skip-changelog-check, package:markdown

#1971 [markdown] Fix URIs in example, drop unneeded extra CSS
  pkgs/markdown/example/index.html
Labels: package:markdown

#1267 [io] copyPath/copyPathSync: expose parameter `followLinks`
  pkgs/io/CHANGELOG.md
  pkgs/io/lib/src/copy_path.dart
  pkgs/io/pubspec.yaml
  pkgs/io/test/copy_path_test.dart
Labels: package:io

#1974 Merge glob package
  .github/ISSUE_TEMPLATE/glob.md
  .github/ISSUE_TEMPLATE/unified_analytics_event.yml
  .github/ISSUE_TEMPLATE/unified_analytics_user_property.yml
  .github/labeler.yml
  .github/workflows/glob.yaml
  README.md
  pkgs/glob/.gitignore
  pkgs/glob/CHANGELOG.md
  pkgs/glob/LICENSE
  pkgs/glob/README.md
  pkgs/glob/analysis_options.yaml
  pkgs/glob/lib/glob.dart
  pkgs/glob/lib/list_local_fs.dart
  pkgs/glob/lib/src/ast.dart
  pkgs/glob/lib/src/list_tree.dart
  pkgs/glob/lib/src/parser.dart
  pkgs/glob/lib/src/stream_pool.dart
  pkgs/glob/lib/src/utils.dart
  pkgs/glob/pubspec.yaml
  pkgs/glob/test/glob_test.dart
  pkgs/glob/test/list_test.dart
  pkgs/glob/test/match_test.dart
  pkgs/glob/test/parse_test.dart
Labels: type-infra

#1975 add issue_tracker links to pubspec files
  pkgs/benchmark_harness/pubspec.yaml
  pkgs/io/pubspec.yaml
  pkgs/markdown/pubspec.yaml
  pkgs/mime/pubspec.yaml
  pkgs/package_config/pubspec.yaml
  pkgs/pool/pubspec.yaml
  pkgs/pub_semver/pubspec.yaml
  pkgs/pubspec_parse/pubspec.yaml
  pkgs/source_maps/pubspec.yaml
  pkgs/source_span/pubspec.yaml
  pkgs/sse/pubspec.yaml
  pkgs/stack_trace/pubspec.yaml
  pkgs/stream_channel/pubspec.yaml
  pkgs/stream_transform/pubspec.yaml
  pkgs/string_scanner/pubspec.yaml
  pkgs/term_glyph/pubspec.yaml
  pkgs/test_reflective_loader/pubspec.yaml
  pkgs/timing/pubspec.yaml
  pkgs/watcher/pubspec.yaml
  pkgs/yaml/pubspec.yaml
  pkgs/yaml_edit/pubspec.yaml
Labels: skip-changelog-check, package:mime, package:benchmark_harness, package:io, package:markdown, package:package_config, package:pool, package:pub_semver, package:source_maps, package:source_span, package:sse, package:timing, package:test_reflective_loader, package:watcher, package:stream_transform, package:pubspec_parse, package:stack_trace, package:stream_channel, package:yaml, package:yaml_edit, package:term_glyph

#2008 skipping failing test
  pkgs/sse/test/sse_test.dart
Labels: skip-changelog-check, package:sse
