Repository dart-lang/tools, pull requests merged in 2025-07, with the labels that each got.

#2121 [Markdown] Fix HTML comment parser.
  pkgs/markdown/CHANGELOG.md
  pkgs/markdown/lib/src/inline_syntaxes/inline_html_syntax.dart
  pkgs/markdown/lib/src/patterns.dart
  pkgs/markdown/test/regression_test.dart
Labels: package:markdown

#2129 Improve test_reflective_loader/README.md
  pkgs/test_reflective_loader/README.md
Labels: package:test_reflective_loader

#2120 [code_builder] Set `external` and `static` in correct order
  pkgs/code_builder/CHANGELOG.md
  pkgs/code_builder/lib/src/emitter.dart
  pkgs/code_builder/test/specs/field_test.dart
Labels: skip-breaking-check, package:code_builder

#2136 disable failing test
  pkgs/extension_discovery/test/find_extensions_test.dart
Labels: package:extension_discovery
