Repository dart-lang/tools, pull requests merged in 2025-02, with the labels that each got.

#2007 [unified_analytics] Send `enabled_features` as an event parameter rather than a user property
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/lib/src/user_property.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics, autosubmit

#1954 coverage: Allow specifying coverage flags via a `yaml` file
  pkgs/coverage/.gitignore
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/bin/collect_coverage.dart
  pkgs/coverage/bin/format_coverage.dart
  pkgs/coverage/bin/test_with_coverage.dart
  pkgs/coverage/lib/src/coverage_options.dart
  pkgs/coverage/pubspec.yaml
  pkgs/coverage/test/collect_coverage_config_test.dart
  pkgs/coverage/test/config_file_locator_test.dart
  pkgs/coverage/test/test_coverage_options/all_field.yaml
  pkgs/coverage/test/test_coverage_options/empty.yaml
  pkgs/coverage/test/test_coverage_options/partial_fields1.yaml
  pkgs/coverage/test/test_coverage_options/partial_fields2.yaml
  pkgs/coverage/test/test_file_locator/pkg1/coverage_options.yaml
  pkgs/coverage/test/test_file_locator/pkg1/pubspec.yaml
  pkgs/coverage/test/test_file_locator/pkg2/pubspec.yaml
Labels: package:coverage

#2013 normalize the workflow files
  .github/workflows/bazel_worker.yaml
  .github/workflows/benchmark_harness.yaml
  .github/workflows/boolean_selector.yaml
  .github/workflows/browser_launcher.yaml
  .github/workflows/cli_config.yaml
  .github/workflows/cli_util.yaml
  .github/workflows/clock.yaml
  .github/workflows/code_builder.yaml
  .github/workflows/coverage.yaml
  .github/workflows/csslib.yaml
  .github/workflows/deploy_pages.yaml
  .github/workflows/extension_discovery.yaml
  .github/workflows/glob.yaml
  .github/workflows/graphs.yaml
  .github/workflows/health.yaml
  .github/workflows/html.yaml
  .github/workflows/io.yaml
  .github/workflows/json_rpc_2.yaml
  .github/workflows/markdown.yaml
  .github/workflows/markdown_crash_test.yaml
  .github/workflows/markdown_flutter.yaml
  .github/workflows/mime.yaml
  .github/workflows/no-response.yml
  .github/workflows/oauth2.yaml
  .github/workflows/package_config.yaml
  .github/workflows/pool.yaml
  .github/workflows/post_summaries.yaml
  .github/workflows/pub_semver.yaml
  .github/workflows/publish.yaml
  .github/workflows/pubspec_parse.yaml
  .github/workflows/source_map_stack_trace.yaml
  .github/workflows/source_maps.yaml
  .github/workflows/source_span.yaml
  .github/workflows/sse.yaml
  .github/workflows/stack_trace.yaml
  .github/workflows/stream_channel.yaml
  .github/workflows/stream_transform.yaml
  .github/workflows/string_scanner.yaml
  .github/workflows/term_glyph.yaml
  .github/workflows/test_reflective_loader.yaml
  .github/workflows/timing.yaml
  .github/workflows/unified_analytics.yaml
  .github/workflows/watcher.yaml
  .github/workflows/yaml.yaml
  .github/workflows/yaml_edit.yaml
Labels: type-infra

#2017 [package_config] Fix incorrect error message when validating parameters in `LanguageVersion.new`
  pkgs/package_config/CHANGELOG.md
  pkgs/package_config/lib/src/package_config.dart
  pkgs/package_config/pubspec.yaml
  pkgs/package_config/test/package_config_impl_test.dart
Labels: package:package_config

#2016 [package_config] Implement relational operators for `LanguageVersion`
  pkgs/package_config/CHANGELOG.md
  pkgs/package_config/lib/package_config_types.dart
  pkgs/package_config/lib/src/package_config.dart
  pkgs/package_config/pubspec.yaml
  pkgs/package_config/test/package_config_impl_test.dart
Labels: package:package_config
