Repository dart-lang/tools, pull requests merged in 2025-09, with the labels that each got.

#2166 rev package:pool in prep for publishing
  pkgs/pool/CHANGELOG.md
  pkgs/pool/pubspec.yaml
Labels: package:pool

#2164 add support for `setUpClass` and `tearDownClass`
  pkgs/test_reflective_loader/CHANGELOG.md
  pkgs/test_reflective_loader/lib/test_reflective_loader.dart
  pkgs/test_reflective_loader/pubspec.yaml
  pkgs/test_reflective_loader/test/location_test.dart
  pkgs/test_reflective_loader/test/test_reflective_loader_test.dart
Labels: package:test_reflective_loader

#2168 refactor the media types golden table
  pkgs/mime/doc/media_types.md
  pkgs/mime/tool/media_types.dart
Labels: package:mime

#2174 Add test coverage around startup race and missing file on startup.
  pkgs/watcher/test/file_watcher/file_tests.dart
  pkgs/watcher/test/file_watcher/native_test.dart
  pkgs/watcher/test/file_watcher/polling_test.dart
  pkgs/watcher/test/file_watcher/startup_race_tests.dart
  pkgs/watcher/test/utils.dart
Labels: package:watcher

#2184 Prepare to release watcher 1.1.4
  pkgs/watcher/CHANGELOG.md
  pkgs/watcher/pubspec.yaml
Labels: package:watcher
