Repository dart-lang/tools, pull requests merged in 2025-05, with the labels that each got.

#2082 [coverage] Fix another flaky lifecycle management error
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/lib/src/isolate_paused_listener.dart
  pkgs/coverage/pubspec.yaml
  pkgs/coverage/test/isolate_paused_listener_test.dart
Labels: package:coverage

#2085 broaden the publish tag regex to allow digits
  .github/workflows/publish.yaml
Labels: type-infra

#2092 [benchmark_harness] Move Measure into its on lib
  pkgs/benchmark_harness/CHANGELOG.md
  pkgs/benchmark_harness/lib/src/benchmark_base.dart
  pkgs/benchmark_harness/lib/src/measurement.dart
  pkgs/benchmark_harness/lib/src/perf_benchmark_base.dart
  pkgs/benchmark_harness/pubspec.yaml
Labels: skip-changelog-check, skip-coverage-check, package:benchmark_harness

#2097 Add package:process
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/process.yaml
  pkgs/process/.gitignore
  pkgs/process/AUTHORS
  pkgs/process/CHANGELOG.md
  pkgs/process/LICENSE
  pkgs/process/README.md
  pkgs/process/dart_test.yaml
  pkgs/process/lib/process.dart
  pkgs/process/lib/src/interface/common.dart
  pkgs/process/lib/src/interface/exceptions.dart
  pkgs/process/lib/src/interface/local_process_manager.dart
  pkgs/process/lib/src/interface/process_manager.dart
  pkgs/process/lib/src/interface/process_wrapper.dart
  pkgs/process/pubspec.yaml
  pkgs/process/test/src/interface/common_test.dart
  pkgs/process/test/src/interface/process_wrapper_test.dart
  pkgs/process/test/utils.dart
Labels: type-infra

#2098 have package:lints use package:lints/recommended
  .github/labeler.yml
  README.md
  pkgs/process/CHANGELOG.md
  pkgs/process/analysis_options.yaml
  pkgs/process/pubspec.yaml
Labels: type-infra

#2099 add an issue template for package:process
  .github/ISSUE_TEMPLATE/process.md
Labels: type-infra

#2090 [test_reflective_loader] Pass test locations to `pkg:test` to improve IDE navigation
  .github/workflows/test_reflective_loader.yaml
  pkgs/test_reflective_loader/CHANGELOG.md
  pkgs/test_reflective_loader/lib/test_reflective_loader.dart
  pkgs/test_reflective_loader/pubspec.yaml
  pkgs/test_reflective_loader/test/location_test.dart
Labels: type-infra, package:test_reflective_loader

#2095 [coverage] Partial workspace support
  .github/workflows/coverage.yaml
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/README.md
  pkgs/coverage/bin/test_with_coverage.dart
  pkgs/coverage/dart_test.yaml
  pkgs/coverage/lib/src/collect.dart
  pkgs/coverage/lib/src/coverage_options.dart
  pkgs/coverage/lib/src/formatter.dart
  pkgs/coverage/lib/src/hitmap.dart
  pkgs/coverage/lib/src/util.dart
  pkgs/coverage/pubspec.yaml
  pkgs/coverage/test/collect_coverage_api_test.dart
  pkgs/coverage/test/collect_coverage_config_test.dart
  pkgs/coverage/test/collect_coverage_test.dart
  pkgs/coverage/test/config_file_locator_test.dart
  pkgs/coverage/test/function_coverage_test.dart
  pkgs/coverage/test/lcov_test.dart
  pkgs/coverage/test/run_and_collect_test.dart
  pkgs/coverage/test/test_coverage_options/pubspec.yaml
  pkgs/coverage/test/test_files/pubspec.yaml
  pkgs/coverage/test/test_util.dart
  pkgs/coverage/test/test_with_coverage_test.dart
  pkgs/coverage/test/util_test.dart
  pkgs/coverage/test/workspace_names/pkgs/bar/bar_example/pubspec.yaml
  pkgs/coverage/test/workspace_names/pkgs/bar/pubspec.yaml
  pkgs/coverage/test/workspace_names/pkgs/foo/foo_example/pubspec.yaml
  pkgs/coverage/test/workspace_names/pkgs/foo/pubspec.yaml
  pkgs/coverage/test/workspace_names/pubspec.yaml
Labels: type-infra, package:coverage

#2103 [coverage] Switch from package:pubspec_parse to package:yaml
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/lib/src/util.dart
  pkgs/coverage/pubspec.yaml
Labels: package:coverage
