Repository dart-lang/tools, pull requests merged in 2025-03, with the labels that each got.

#2025 Update publish.yaml
  .github/workflows/publish.yaml
Labels: type-infra

#2020 [pub_semver] Discourage modification of properties intended to be unmodifiable
  pkgs/pub_semver/CHANGELOG.md
  pkgs/pub_semver/lib/src/version.dart
  pkgs/pub_semver/lib/src/version_constraint.dart
  pkgs/pub_semver/lib/src/version_union.dart
  pkgs/pub_semver/pubspec.yaml
Labels: package:pub_semver

#2021 [pub_semver] Remove dependency on `package:meta`
  pkgs/pub_semver/CHANGELOG.md
  pkgs/pub_semver/lib/src/version.dart
  pkgs/pub_semver/pubspec.yaml
Labels: package:pub_semver

#2031 [package_config] Prepare for 2.2.0 release
  pkgs/package_config/CHANGELOG.md
  pkgs/package_config/pubspec.yaml
Labels: package:package_config

#2036 [html] Allow ampersands in attribute values.
  pkgs/html/CHANGELOG.md
  pkgs/html/lib/src/tokenizer.dart
  pkgs/html/pubspec.yaml
  pkgs/html/test/data/tokenizer/test4.test
  pkgs/html/test/parser_feature_test.dart
Labels: package:html

#2038 [package:mime] generate a markdown table of the current mime mappings
  .github/workflows/mime.yaml
  pkgs/mime/doc/media_types.md
  pkgs/mime/tool/media_types.dart
Labels: type-infra, package:mime

#2041 [package_config] Remove unnecessary casts to Uint8List
  pkgs/package_config/CHANGELOG.md
  pkgs/package_config/pubspec.yaml
  pkgs/package_config/test/parse_test.dart
Labels: package:package_config

#2040 [package_config] Update language version and reformat
  .github/workflows/package_config.yaml
  pkgs/package_config/lib/package_config.dart
  pkgs/package_config/lib/src/discovery.dart
  pkgs/package_config/lib/src/errors.dart
  pkgs/package_config/lib/src/package_config.dart
  pkgs/package_config/lib/src/package_config_impl.dart
  pkgs/package_config/lib/src/package_config_io.dart
  pkgs/package_config/lib/src/package_config_json.dart
  pkgs/package_config/lib/src/packages_file.dart
  pkgs/package_config/lib/src/util.dart
  pkgs/package_config/pubspec.yaml
  pkgs/package_config/test/bench.dart
  pkgs/package_config/test/discovery_test.dart
  pkgs/package_config/test/discovery_uri_test.dart
  pkgs/package_config/test/package_config_impl_test.dart
  pkgs/package_config/test/parse_test.dart
  pkgs/package_config/test/src/util_io.dart
Labels: type-infra, skip-changelog-check, package:package_config

#2039 [package:markdown] update package:web references in the example
  .github/workflows/markdown.yaml
  pkgs/markdown/CHANGELOG.md
  pkgs/markdown/example/app.dart
  pkgs/markdown/pubspec.yaml
Labels: type-infra, package:markdown

#2034 [package_config] Remove support for `.packages` files.
  pkgs/package_config/CHANGELOG.md
  pkgs/package_config/README.md
  pkgs/package_config/bin/package_config_of.dart
  pkgs/package_config/lib/package_config.dart
  pkgs/package_config/lib/src/discovery.dart
  pkgs/package_config/lib/src/package_config.dart
  pkgs/package_config/lib/src/package_config_impl.dart
  pkgs/package_config/lib/src/package_config_io.dart
  pkgs/package_config/lib/src/package_config_json.dart
  pkgs/package_config/lib/src/packages_file.dart
  pkgs/package_config/lib/src/util.dart
  pkgs/package_config/pubspec.yaml
  pkgs/package_config/test/bench.dart
  pkgs/package_config/test/discovery_test.dart
  pkgs/package_config/test/discovery_uri_test.dart
  pkgs/package_config/test/package_config_impl_test.dart
  pkgs/package_config/test/parse_test.dart
  pkgs/package_config/test/src/util.dart
Labels: package:package_config

#2053 [unified analytics] fix `lintUsageCount` docs
  pkgs/unified_analytics/lib/src/event.dart
Labels: package:unified_analytics, skip-changelog-check
