Repository dart-lang/tools, pull requests merged in 2025-06, with the labels that each got.

#1666 [source_span] Add a test covering the highlighting of non-contiguous spans
  pkgs/source_span/test/multiple_highlight_test.dart
Labels: package:source_span

#2111 Don't emit two WatchEvents when creating a file in a non-existent directory on Windows
  pkgs/watcher/CHANGELOG.md
  pkgs/watcher/lib/src/directory_watcher/windows.dart
  pkgs/watcher/pubspec.yaml
  pkgs/watcher/test/directory_watcher/windows_test.dart
Labels: skip-breaking-check, package:watcher

#2112 Add dart mcp server events
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics
