Repository dart-lang/tools, pull requests merged in 2025-10, with the labels that each got.

#2173 Fixing structure issue of nested lists indented by tabs (#2172)
  pkgs/markdown/CHANGELOG.md
  pkgs/markdown/lib/src/block_syntaxes/list_syntax.dart
  pkgs/markdown/test/original/unordered_lists.unit
Labels: package:markdown

#2176 Fix file watcher startup race on MacOS
  pkgs/watcher/CHANGELOG.md
  pkgs/watcher/lib/src/file_watcher/native.dart
  pkgs/watcher/pubspec.yaml
  pkgs/watcher/test/file_watcher/startup_race_tests.dart
Labels: package:watcher

#2178 Add test coverage for file watcher and symlinks.
  pkgs/watcher/test/file_watcher/link_tests.dart
  pkgs/watcher/test/utils.dart
Labels: package:watcher

#2195 [bazel_worker] Upgrade `protobuf` + cleanups
  .github/workflows/bazel_worker.yaml
  pkgs/bazel_worker/CHANGELOG.md
  pkgs/bazel_worker/e2e_test/lib/async_worker.dart
  pkgs/bazel_worker/e2e_test/pubspec.yaml
  pkgs/bazel_worker/example/client.dart
  pkgs/bazel_worker/example/worker.dart
  pkgs/bazel_worker/lib/src/async_message_grouper.dart
  pkgs/bazel_worker/lib/src/driver/driver.dart
  pkgs/bazel_worker/lib/src/driver/driver_connection.dart
  pkgs/bazel_worker/lib/src/message_grouper_state.dart
  pkgs/bazel_worker/lib/src/worker/async_worker_loop.dart
  pkgs/bazel_worker/lib/src/worker/sync_worker_loop.dart
  pkgs/bazel_worker/lib/src/worker/worker_connection.dart
  pkgs/bazel_worker/lib/testing.dart
  pkgs/bazel_worker/pubspec.yaml
  pkgs/bazel_worker/test/worker_loop_test.dart
  pkgs/bazel_worker/tool/travis.sh
Labels: type-infra, package:bazel_worker

#2201 Use Event extension type for MacOS DirectoryWatcher.
  pkgs/watcher/lib/src/directory_watcher/linux.dart
  pkgs/watcher/lib/src/directory_watcher/mac_os.dart
  pkgs/watcher/lib/src/event.dart
  pkgs/watcher/lib/src/file_watcher/native.dart
  pkgs/watcher/lib/src/utils.dart
Labels: skip-changelog-check, package:watcher
