Repository dart-lang/tools, pull requests merged in 2025-04, with the labels that each got.

#2054 Widen protobuf dependency to allow 4.0.0
  pkgs/bazel_worker/CHANGELOG.md
  pkgs/bazel_worker/pubspec.yaml
Labels: package:bazel_worker

#2057 Add `CODEOWNERS` file
  .github/CODEOWNERS
Labels: type-infra

#2058 Fix CODEOWNERS
  .github/CODEOWNERS
  CODEOWNERS
Labels: type-infra

#2061 Revert "[unified_analytics] Send `enabled_features` as an event param…
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/lib/src/user_property.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics

#2059 [UA] Add ability to split out sub-events in the `LogStatsFile`
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/USAGE_GUIDE.md
  pkgs/unified_analytics/example/log_stats.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/log_handler.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/log_handler_test.dart
Labels: package:unified_analytics

#2064 Revert "[package_config] Remove support for `.packages` files. (#2034)"
  pkgs/package_config/CHANGELOG.md
  pkgs/package_config/README.md
  pkgs/package_config/bin/package_config_of.dart
  pkgs/package_config/lib/package_config.dart
  pkgs/package_config/lib/src/discovery.dart
  pkgs/package_config/lib/src/package_config.dart
  pkgs/package_config/lib/src/package_config_impl.dart
  pkgs/package_config/lib/src/package_config_io.dart
  pkgs/package_config/lib/src/package_config_json.dart
  pkgs/package_config/lib/src/packages_file.dart
  pkgs/package_config/lib/src/util.dart
  pkgs/package_config/pubspec.yaml
  pkgs/package_config/test/bench.dart
  pkgs/package_config/test/discovery_test.dart
  pkgs/package_config/test/discovery_uri_test.dart
  pkgs/package_config/test/package_config_impl_test.dart
  pkgs/package_config/test/parse_test.dart
  pkgs/package_config/test/src/util.dart
Labels: package:package_config

#2066 Re-land "[unified_analytics] Send enabled_features as an event parameter rather than a user property (#2007)"
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/analytics.dart
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/lib/src/user_property.dart
  pkgs/unified_analytics/lib/src/utils.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/unified_analytics_test.dart
Labels: package:unified_analytics

#2065 Re-land "[package_config] Remove support for `.packages` files. (#2034)"
  pkgs/package_config/CHANGELOG.md
  pkgs/package_config/README.md
  pkgs/package_config/bin/package_config_of.dart
  pkgs/package_config/lib/package_config.dart
  pkgs/package_config/lib/src/discovery.dart
  pkgs/package_config/lib/src/package_config.dart
  pkgs/package_config/lib/src/package_config_impl.dart
  pkgs/package_config/lib/src/package_config_io.dart
  pkgs/package_config/lib/src/package_config_json.dart
  pkgs/package_config/lib/src/packages_file.dart
  pkgs/package_config/lib/src/util.dart
  pkgs/package_config/pubspec.yaml
  pkgs/package_config/test/bench.dart
  pkgs/package_config/test/discovery_test.dart
  pkgs/package_config/test/discovery_uri_test.dart
  pkgs/package_config/test/package_config_impl_test.dart
  pkgs/package_config/test/parse_test.dart
  pkgs/package_config/test/src/util.dart
Labels: package:package_config

#2067 [markdown] fix crash test
  pkgs/markdown/test/crash_test.dart
Labels: package:markdown

#2068 [graphs] fix readme CI badge
  pkgs/graphs/README.md
Labels: package:graphs, skip-changelog-check

#2062 [UA] Add a Flutter event for plugins injected into an iOS/macOS project.
  pkgs/unified_analytics/CHANGELOG.md
  pkgs/unified_analytics/lib/src/constants.dart
  pkgs/unified_analytics/lib/src/enums.dart
  pkgs/unified_analytics/lib/src/event.dart
  pkgs/unified_analytics/pubspec.yaml
  pkgs/unified_analytics/test/event_test.dart
Labels: package:unified_analytics

#2072 Simplifies the format for client IDs.
  pkgs/sse/CHANGELOG.md
  pkgs/sse/lib/client/sse_client.dart
  pkgs/sse/lib/src/util/id.dart
  pkgs/sse/lib/src/util/uuid.dart
  pkgs/sse/pubspec.yaml
Labels: package:sse

#1194 Support newInstanceNamed with empty name
  pkgs/code_builder/CHANGELOG.md
  pkgs/code_builder/lib/src/specs/expression.dart
  pkgs/code_builder/test/specs/code/expression_test.dart
Labels: package:code_builder

#2077 allow custom ID generators in Clients, and support String ids
  pkgs/json_rpc_2/CHANGELOG.md
  pkgs/json_rpc_2/lib/src/client.dart
  pkgs/json_rpc_2/lib/src/peer.dart
  pkgs/json_rpc_2/pubspec.yaml
  pkgs/json_rpc_2/test/client/client_test.dart
  pkgs/json_rpc_2/test/client/utils.dart
Labels: package:json_rpc_2

#2015 [html] fix TypeError in nth-child query selector
  pkgs/html/CHANGELOG.md
  pkgs/html/lib/src/query_selector.dart
  pkgs/html/pubspec.yaml
Labels: package:html

#2019 [html] Various performance optimizations
  pkgs/html/CHANGELOG.md
  pkgs/html/lib/parser.dart
  pkgs/html/lib/src/constants.dart
  pkgs/html/lib/src/html_input_stream.dart
  pkgs/html/lib/src/tokenizer.dart
  pkgs/html/lib/src/treebuilder.dart
  pkgs/html/lib/src/trie.dart
  pkgs/html/pubspec.yaml
  pkgs/html/test/parser_feature_test.dart
  pkgs/html/test/trie_test.dart
  pkgs/html/tool/generate_trie.dart
Labels: package:html

#2075 Add --fail-under flag for minimum coverage threshold
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/bin/format_coverage.dart
  pkgs/coverage/bin/test_with_coverage.dart
  pkgs/coverage/lib/src/coverage_percentage.dart
  pkgs/coverage/pubspec.yaml
  pkgs/coverage/test/coverage_percentage_test.dart
  pkgs/coverage/test/test_with_coverage_package/lib/validate_lib.dart
  pkgs/coverage/test/test_with_coverage_package/test/evaluate_test.dart
  pkgs/coverage/test/test_with_coverage_test.dart
Labels: package:coverage

#2079 [coverage] Fix resume after shutdown error
  pkgs/coverage/CHANGELOG.md
  pkgs/coverage/README.md
  pkgs/coverage/lib/src/isolate_paused_listener.dart
  pkgs/coverage/pubspec.yaml
  pkgs/coverage/test/isolate_paused_listener_test.dart
Labels: package:coverage
